[2014-10-23 06:22] oldmanpushcart opened #10 "greys研发1.5版本"
## Greys1.5
### 特性
1. 支持精简指令集
2. 更友好的错误提示
3. 更友好的帮助文档
4. 支持单用户、多用户的切换
### BUGFIX
1. 修复多用户模式下多个Greys都占用3658端口的问题

[2014-10-25 06:00] oldmanpushcart opened #11 "monitor指令存在CAS重大BUG"
#### 问题描述

在Monitor的命令中，间隔X秒对统计的内容进行输出，是通过一个CAS来完成的。但在对此次CAS的处理中，存在严重的逻辑错误，会导致一旦出现并发将会让Timer进入死循环，吃光CPU资源，导致JVM崩溃。
#### 问题修复

本次CAS问题将会在1.5版本中进行修复

[2014-10-26 10:44] #10 closed, assigned to oldmanpushcart

[2014-10-26 10:44] #11 closed, assigned to oldmanpushcart

[2014-10-31 01:20] oldmanpushcart opened #13 "greys研发1.5.1版本"
## Greys1.5.1
### BUGFIX
1. 修复profiler命令在渲染大量类的时候会出错。
2. 如果RMI放着太久，超过4个小时左右吧，下次再企图访问这个RMI就无法访问了，我会加上一个超时机制，超过一定的时间主动shutdown

[2014-10-31 10:11] oldmanpushcart opened #14 "建议代码风格切换为JDK1.8"
现在很多代码都使用了大量的匿名内部类模式，导致代码非常的丑陋，所以建议代码重构为JDK1.8的形式，但编译目标仍为1.6

[code]

[2014-11-02 10:07] #13 closed, assigned to oldmanpushcart

[2014-11-05 02:21] oldmanpushcart opened #15 "Greys的JOBID为超长字符串类型性能低"
[code]

Greys的JobId是通过UUID生成的字符串来完成，然后所有地方进行比对的时候是通过

[code]

jobs的一个map来完成，所以每次进行key比对的时候都是进行一个超长字符串的比对，性能开销非常高，需要在下个版本中修复这个问题。JobId的字符串比对将会是非常消耗JVM的一个开销，在profiler多的时候会严重影响到整个应用的性能，最关键的是，即使job消失后这个影响依然会持续的存在。

[2014-11-05 02:26] oldmanpushcart opened #16 "Greys增加热点代码分析指令hot"
Greys可以通过javassist对每行代码的编织，将每一行的热点代码标示出来。

[code]

命令组织
hot <类正则> <方法正则> [统计命中次数]

当统计命中次数达到后，将会输出以下内容
包路径.类名#行号#热点百分比

com.taobao.xxx.DataSource#165#18%
com.taobao.xxx.DataSource#167#16%
com.taobao.xxx.DataSource#169#6%

[2014-11-05 15:15] #15 closed, assigned to oldmanpushcart

[2014-11-05 15:33] oldmanpushcart opened #17 "Greys增加调用记录／回放功能"
Greys纪录下某个方法的入参，然后通过replay命令回放这次入参调用。
record <类正则匹配> <方法正则匹配>
记录下来的格式是

<table>
<tr>
<th>IDX</th>
<th>ClassLoader</th>
<th>对象地址</th>
<th>类名</th>
<th>方法名</th>
<th>时间戳</th>
</tr>
<tr>
<td>00</td>
<td>WebAppClassLoader</td>
<td>0x2410h</td>
<td>ItemQueryServiceImpl</td>
<td>queryItemById</td>
<td>2014-11-11 00:00:00</td>
</tr>
</table>

replay <IDX> [回放次数]

[2014-11-06 13:25] oldmanpushcart opened #18 "JOB输出文件存在性能问题"
JOB的输出为了节省内存，是通过文件进行交互的，在频繁的输出过程中存在反复写文件的问题，严重的时候会非常影响性能（比如watch/profiler一个非常热的方法），所以需要将文件的打开、关闭和session的生命周期进行挂钩，避免不必要的反复打开、关闭文件。

[2014-11-06 13:27] oldmanpushcart opened #19 "JOB输出文件格式存在扩展性问题"
对JOB输出结束的判断是通过添加不可见字符`END_MASK`来完成
[code]
虽然这样做也能实现目的，但遇到对字符行的控制（redraw）等需求时就会抓瞎，所以这里建议重构掉JOB文件的格式内容，提升扩展性。

[2014-11-06 15:44] #18 closed, assigned to oldmanpushcart

[2014-11-13 05:18] oldmanpushcart opened #20 "Greys优化通讯协议支持telnet"
Greys目前通过非常重的JLine来完成命令行交互，但很多场景下其实只需要有nc、telnet命令的地方就希望能登录上来。

[2014-11-18 14:50] #17 closed, assigned to oldmanpushcart

[2014-11-20 14:40] oldmanpushcart opened #22 "废弃RMI通讯的方案"
RMI存在被禁用的可能，考虑放弃RMI作为通讯协议

[2014-11-21 03:20] oldmanpushcart opened #23 "废弃apache-common包依赖"
废弃apache-common包依赖

[2014-11-22 05:57] #23 closed, assigned to oldmanpushcart

[2014-11-22 21:17] oldmanpushcart opened #24 "如果目标JVM设置了无效的"-Djava.rmi.server.hostname"参数会导致Greys无法启动"
如果目标JVM设置了无效的"-Djava.rmi.server.hostname"参数会导致Greys无法启动

[2014-11-22 21:18] #24 closed, assigned to oldmanpushcart

[2014-11-24 17:13] oldmanpushcart opened #25 "给予JavaScript脚本更多规范"
目前的JavaScript脚本增强不规范，不方便插件共享、加载等操作。需要规范起来，建立起javascript插件共享的氛围。

[2014-11-29 14:44] oldmanpushcart opened #26 "支持javascript插件化开发"
支持JavaScript的插件管理

[2014-11-30 12:15] oldmanpushcart opened #27 "JavaScript引擎rhino与Javassist结合存在严重漏洞"
使用Javassist进行编织的代码中，如果混入JavaScript引擎rhino所组织的代码，会引起JVM崩溃。触发的时机在YaungGC发生的时候，如果对象被GC掉，但仍然有命令在通过rhino所组织的代码访问该对象时，会引起JVM崩溃。

[code]

与此同时，jstat看到的GC情况

[code]

可以看到在触发YGC的时候，引起了错误

[2014-11-30 18:07] #27 closed, assigned to oldmanpushcart

[2014-12-01 16:18] #25 closed, assigned to oldmanpushcart

[2014-12-01 16:18] #26 closed, assigned to oldmanpushcart

[2014-12-01 16:18] #16 closed, assigned to oldmanpushcart

[2015-03-05 05:22] oldmanpushcart opened #30 "解决$Proxy代理类无法被拦截的问题"
在拦截HSF的Consumer的时候，其中的方法无法被正确拦截，经过仔细排查发现是`GreysAnatomyClassFileTransformer.java`类中无法通过ClassLoader获取$Proxy的类，原因是ClassLoader获取$Proxy类字节码的时候是通过getReousrces()完成的，但$Proxy因为没有CodeSource，所以无法通过这样的方式完成字节码获取，需要改变获取的方式。

[2015-03-08 07:58] oldmanpushcart opened #31 "优化Greys的日志输出"
greys目前的日志输出全部是info级别，没有debug的信息，导致很多线上问题无法进行排查。所以需要对整套日志输出进行重构，并能动态调整当前greys的日志级别

[2015-03-08 10:25] #31 closed

[2015-03-08 10:25] oldmanpushcart commented on #31
准备在1.5.4.5中发布

[2015-03-08 15:22] oldmanpushcart opened #32 "GreysAnatomyClassFileTransformer类中存在内存泄漏风险"
在`GreysAnatomyClassFileTransformer.java`中定义了一个

[code]

用了一个HashMap缓存了之前生成的字节码，但这种做法存在无法释放内存的严重风险，随着在一个jvm上使用greys数次之后，有可能引发OOM

[2015-03-08 15:45] #30 closed

[2015-03-08 15:46] oldmanpushcart commented on #30
在1.5.4.5版本中解决

[2015-03-08 16:54] #32 closed

[2015-04-04 14:53] oldmanpushcart opened #33 "支持通配符表达式"
## 背景

在进行`sc`、`sm`等一系列命令时，唯一绕不开的就是查询的正则表达式，但这个表达式极其难写，经常一个不小心就写错。

## 期望

支持通配符表达式

[2015-04-04 14:57] oldmanpushcart opened #34 "支持级联子类操作"
## 背景

在对一些类进行操纵时，这些类其实是一些接口。比如我们在监听一个SayHelloService接口，其实我们希望能操纵他的实现类。

但现实是我们为了能操纵到他的子类，不得不先用`sc -s`进行查询

## 期望

相关命令在命中接口的时候，能直接操纵其所有实现类。

[2015-04-09 04:31] #33 closed

[2015-04-15 06:50] #34 closed

[2015-05-02 01:39] oldmanpushcart opened #40 "开发1.6.0.0版本"
# DEVELOP-FOR-1.6.0.0版本开发说明

## 面临的问题

### 代码太繁重

1. 大量不优雅的代码充斥着整个工程结构

    - Utils类
    - 帮助文档类
    - Commands解析类

1. Command应该使用MVC模型进行重构

1. JLine的引用太失败，让整个工程增加了太多的累赘

1. 使用RMI作为远程通讯协议，既繁重又累赘

## 我们的解药

- 这些问题促使我下决心对整个Greys工程进行一次大规模的结构调整，进一步增加Grerys的原生解析部分，降低对第三方包的依赖程度。

- 增强Command的插件化支持程度，让更多命令能优雅的集成进来

[2015-05-04 13:11] #19 closed

[2015-05-04 13:11] #20 closed

[2015-05-04 13:11] #22 closed

[2015-05-05 02:55] oldmanpushcart opened #41 "指定一个方法并能看到这个方法中的方法调用时间树"
使用profiler虽然能实现，但成本太高，其实是有技巧能做到这个功能点的。

[2015-05-05 05:12] oldmanpushcart commented on #41
这个是同事墨泉提的需求

[2015-06-02 04:50] #40 closed

[2015-06-02 04:50] #41 closed

[2015-06-27 17:23] liuxinglanyue opened #47 "远程调用时，需要注释greys.sh中的attach_jvm才可"
要么注释attach_jvm， 要么将pid设置为本地的进程号。

[2015-06-28 13:31] oldmanpushcart commented on #47
已经完成修复，非常感谢提醒～

[2015-06-28 13:31] #47 closed

[2015-07-02 09:47] wadekun opened #48 "please set $JAVA_HOME to JDK6+ ？I have done"
如图：
![Uploading 8A81B36F-7B4C-40EC-83C1-C3FA3BA6E0F8.png…]()

 我已经设置了java_home，且jdk版本为1.7，不知是什么原因呢。

[2015-07-02 09:58] wadekun commented on #48
好尴尬。。公司网络环境原因，图片没传上去。。。下面把图片转换成文字

bogon:greys ***$ echo $JAVA_HOME
/library/java/JavaVirtualMachines/jdk1.7.0_79.jdk/contents/home
bogon:greys ***$ ./greys.sh 3910
illegal ENV, please set $JAVA_HOME to JDK6+

[2015-07-02 12:08] oldmanpushcart commented on #48
Hi 我看到你的`$JAVA_HOME`的路径设置

[code]
你的 $JAVA_HOME 设置的可能有问题，因为你的大小写可能存在错误。

贴下我的
[code]

[2015-07-03 00:51] #48 closed

[2015-07-23 14:44] oldmanpushcart opened #49 "watch/tt/trace命令增加条件判断"
- watch
- tt
- trace

这三条命令增加条件判断，便于用户使用

[2015-07-23 14:48] oldmanpushcart opened #50 "sc命令查看类详细信息可能出错的问题"
当`sc`命令使用`-d`参数查看类的详细信息时，由于存在类的<clint>初始化失败的可能，会导致整个命令无法完成。

纠其本质原因，因为`-d`命令在执行时，将所有Field进行展示，需要用另外一个参数进行隔离

[2015-07-23 15:46] oldmanpushcart commented on #49
同事 @鼎智 的需求

[2015-07-24 15:20] #50 closed

[2015-07-24 15:22] #49 closed

[2015-07-25 13:07] oldmanpushcart opened #51 "部分命令增加调用次数"
- watch
- trace
- tt
- stack

以上四个命令为持续性命令，如果不主动按CTRL+D不会停止，现在需要增加一个命令参数，要求能指定执行次数

[2015-07-25 13:08] oldmanpushcart commented on #51
这个需求是 @江新 同学的需求

[2015-07-25 14:38] #51 closed

[2015-08-23 05:48] oldmanpushcart opened #53 "resin中无法获取Agent"
微博网友 [IT大卫](http://weibo.com/u/1156458007) 返回greys在resin中会抛出空指针。

- 原因

  经过核对发现是resin在启动过程中替换掉了`System.props`，替换的内容随着Thread改变而改变，以此达到彻底的容器隔离效果。

  但不幸的是greys依靠`System.props`来传递Hook，所以一旦被替换掉之后后续就无法优雅的再次拿到。

- 思考

  不得不承认resin的隔离机制做得真变态，但有道理。所以这里将参考HouseMD的做法，将间谍类注入到对应的ClassLoader中来规避这个问题。

[2015-08-23 19:33] #53 closed

[2015-08-27 01:36] oldmanpushcart opened #55 "在code cache快满的时候禁止使用特定命令"
greys使用了动态代理技术，在code cache快满的时候使用greys倒反会给目标jvm带来非常严重的负担。所以建议在greys启动的时候检测code cache的使用情况。

`java -classpath "/usr/alibaba/java/lib/tools.jar:/" CodeCacheUsage 52850`

[2015-08-29 02:22] oldmanpushcart opened #56 "greys.sh脚本支持新版本检测"
一般很少有人主动升级greys，所以希望能在greys.sh启动过程中自动监测是否有新版本升级。
要求

1. 检测时间越短越好
2. 检测可以用参数关闭掉，默认开启
3. 脚本自动完成升级动作

[2015-08-30 08:20] oldmanpushcart commented on #56
在`1.7.0.1`版本中已实现

[2015-08-30 08:21] #56 closed

[2015-09-02 01:11] yaojuncn opened #58 "有时候会遇到ClassNotFoundException"
OS:
mac 10.9.5

JDK
java version "1.7.0_71"
Java(TM) SE Runtime Environment (build 1.7.0_71-b14)
Java HotSpot(TM) 64-Bit Server VM (build 24.71-b01, mixed mode)

在用monitor的时候遇到如下错误

java.lang.ClassNotFoundException: [Lbyte[];
	at java.lang.Class.forName0(Native Method) ~[na:1.7.0_71]
	at java.lang.Class.forName(Class.java:274) ~[na:1.7.0_71]
	at com.github.ompc.greys.advisor.ReflectAdviceListenerA

[2015-09-03 11:53] oldmanpushcart commented on #58
hi，您好，不知道用的greys版本是多少。这个问题是因为`[`开头的是一个数组，对数组的操作进行monitor没有太多意义，而且JVM也不支持，所以我在1.6及其后续的版本中已经删除掉了。

[2015-09-03 23:49] oldmanpushcart opened #60 "trace命令增加级联跟踪功能"
`trace`命令目前只能跟踪到当前方法，希望能做到级联跟踪

[2015-09-04 04:46] yaojuncn commented on #58
你好，我用的是刚刚昨天安装的最新版， 我监控的是 *Statement* execute*的方法， 最后切到mysql驱动到代码上的时候执行报错了

[2015-09-04 11:24] oldmanpushcart commented on #58
我明白了，让我想想办法，给你造成困扰表示非常抱歉，我争取今天、明天发布`1.7.0.3`修复这个问题

[2015-09-04 12:02] oldmanpushcart commented on #58
Hi 我已经发布了`1.7.0.3`版本，修复了greys在处理多维数组时无法正确识别类的BUG

[2015-09-04 14:06] oldmanpushcart commented on #60
这个功能将会花费我很多心血，慢慢写吧，累

[2015-09-05 01:20] #58 closed

[2015-09-06 07:11] douniwan5788 opened #62 "wiki中的链接信息错误，希望更新wiki"
wiki 中 `Installing` 的 `本地安装` 下的链接

描述不太清楚，使用http://ompc.oss.aliyuncs.com/greys/greys-1.7.0.4.zip 提示错误，应该是文件不存在。

`常见安装问题` 中的链接

字面和指向也不相符

[2015-09-07 02:56] oldmanpushcart commented on #62
好的，马上修复

[2015-09-07 05:38] oldmanpushcart commented on #62
已经修复了，谢谢提醒哈 :)

[2015-09-07 05:38] #62 closed

[2015-09-09 16:07] oldmanpushcart opened #63 "Groovy语法的解析好像有点问题"
watch -s  com.agile.admin.security.weblogic.WLSLoginModule validate "hello"+params[0]+"/"+params[1]+"="+returnObj+":"+method
不执行("hello"字符串放在最前面就不工作)，无任何输出

watch -s  com.agile.admin.security.weblogic.WLSLoginModule validate params[0]+"/"+params[1]+"="+returnObj+":"+method+"hello"
正确执行

watch -s  com.agile.admin.security.weblogic.WLSLoginModule validate params[0] + "/" + params[1] + "=" + returnOb

[2015-09-09 16:08] oldmanpushcart opened #64 "执行tt等子命令时（所有的子命令都不能识别Ctrl+x），Ctrl+x无法退出，只能使用Ctrl+d"
执行tt等子命令时（所有的子命令都不能识别Ctrl+x），Ctrl+x无法退出，只能使用Ctrl+d

[2015-09-09 16:09] oldmanpushcart opened #65 "异常终止grey的客户端达到3次时，第四次执行greys.sh将无法连接到jvm。这个时候假如正常停止远程的JVM，该java进程会变成一个僵尸进程，无法kill -9，只能kill -9他的父进程"
异常终止grey的客户端达到3次时，第四次执行greys.sh将无法连接到jvm。这个时候假如正常停止远程的JVM，该java进程会变成一个僵尸进程，无法kill -9，只能kill -9他的父进程

[2015-09-09 16:09] oldmanpushcart opened #66 "monitor命令当时翻译的时候没有i18n，也没有example例子。"
monitor命令当时翻译的时候没有i18n，也没有example例子。

[2015-09-10 14:45] #66 closed

[2015-09-10 14:45] #64 closed

[2015-09-14 13:56] oldmanpushcart commented on #65
我无法重现这个问题，等下次有人重现了，我再reopen吧

[2015-09-14 13:56] #65 closed

[2015-09-15 04:00] QiuQiu0034 commented on #14
<source>1.8</source>
<target>1.8</target>
<compilerVersion>1.6</compilerVersion>
这样就可以了

[2015-09-17 05:04] oldmanpushcart commented on #14
very nice，我接下来会有一版重构，我试试你的建议，非常感谢

[2015-09-17 05:46] zzycjcg opened #68 "同一用户下多个jvm进程分别attach，实际attach的到都是同一个进程"
使用版本是1.7.0.5
<650 linux32 [icore] : /home/icore/greys>./greys.sh 15650
ga?>jvm
+--------------------+-----------------------------------------------------------------------------------------------------+
|           CATEGORY | INFO                                                                                                |
+--------------------+-------------------------------------------------

[2015-09-17 07:31] zzycjcg commented on #68
自己知道原因了：因为使用的是默认模式，每次端口都一样，连接到的是同一个jvm.
但问题来了：如何设定连接端口呢？

[2015-09-17 08:00] oldmanpushcart commented on #68
嗯，这个确实交互上没做好，不能怪用户疑问。

选择端口这样的

[code]

[2015-09-17 08:01] #68 closed

[2015-09-17 09:14] zzycjcg commented on #68
谢谢答复！
嗯，这个我也知道。其实我想问的是，在有多个jvm进程的情况下，除了默认的3658可用，如何拿到其他的jvm监听port？

[2015-09-17 18:07] oldmanpushcart commented on #68
这个需要加载的人告诉你，负责greys加载的人肯定知道自己分配的端口

[2015-09-19 12:35] oldmanpushcart commented on #14
我计划在GREYS1.8版本中重构整个内核，此时用这招来重构整个代码，现在重现不划算。

[2015-09-19 12:36] #14 closed

[2015-09-19 12:38] #63 closed

[2015-09-19 12:40] oldmanpushcart commented on #63
问题1

watch -s com.agile.admin.security.weblogic.WLSLoginModule validate "hello"+params[0]+"/"+params[1]+"="+returnObj+":"+method

不执行("hello"字符串放在最前面就不工作)，无任何输出
这个确定是一个BUG，问题出现在我解析命令的时候对"或'开头的字符串做了误判。所以解决方案在我修复完成之前有两个做法

表达式不要以"或'开头
用另外引号全部圈起来

比如你反馈的这个CASE可以这样完成

watch -s com.agile.admin.security.weblogic.WLSLoginModule validate '"hello"+params[0]+"/"+params[1]+"="+returnObj+":"+method'
我会尽快完成这个解

[2015-09-23 08:38] hengyunabc opened #70 "Greys Server是一个telnet server，不利于扩展"
greys server实际上是一个telnet server，这样子好处是telnet可以直接连接上去。但是都依赖telnet，感觉比较难扩展。

比如，想做一个图形界面的客户端，显然是很困难的。

可不可以考虑做成这样子的结构？

* agent server和client之间通过轻量级的request/response来通迅
* 展示数据的逻辑都放在client端，client可以是一个CLI，一个GUI，甚至是一个web应用

这样子的结构扩展容易，二次开发也容易，避免很多TEXT输出的麻烦。

[2015-09-23 10:38] oldmanpushcart commented on #70
嗯，非常谢谢你的建议，我打算在`1.8.0.0`大版本升级中进行这个重大的改造。目前协议只完成了个初稿，但我觉得设计得有点重，正在权衡中。

最近因为在忙公司双十一的事情，所以只能利用晚上半夜的时间偷偷写写，目前只写了个开头，欢迎大家一起来参与讨论。

意见稿地址：https://github.com/oldmanpushcart/greys-anatomy/wiki/GREYS-PROTOCOL

[2015-09-23 12:58] hengyunabc commented on #70
说下一些思考：
* magic不是必要的。可能的用途是流量识别，但好像没这个必要？

* agent server和client之间的交互和平常的rpc不太一样。
rpc通常是一问一答的。agent server里有类似top这样的连续输出。

### 命令执行的状态
假定一次命令执行叫 exec ，则可以这样子定义exec：
* 一次性执行输出的 exec
* 多次输出，可以被客户端打断的 exec
* 每个exec用自增长的唯一ID标识

exec状态相关：
* client可以发起一个exec
* client可以中断一个exec
* server可以主动停止一个exec
* server可以推送exec的输出给client，包括通知client exec停止执行

### 支持并行执行多个exec
比如dashboard命令同时输出jvm里的多种状态，又比如GUI，或者web网页上

[2015-09-24 06:21] oldmanpushcart commented on #70
## 关于MAGIC_CODE(魔数)

你的建议是对的，让我思考下。

## 关于命令执行的状态

rpc通常是一问一答的。agent server里有类似top这样的连续输出。

是的，大概的流程是这样

[code]

## 支持并行多个EXEC

GP协议是必须要支持并行多个EXEC，所以每个EXEC都有一个唯一表识`REQ.send_id`，要求在一个Connection中唯一。

通过不同的`REQ.send_id`和`RSP.send_id`配对，我们可以完成链接的多路复用。

## 支持`ONE WAY`消息

这个让我考虑下场景，如果引入这个机制会让GP协议变得复杂，但我却没有想到有什么场景需要Server主动通知Client。

## 序列化选择

引入一个json库可以用ClassLoader来隔离，今天的Greys已经做到了而且是她的核心设计之一，可以不用担心。

[2015-09-24 15:03] hengyunabc commented on #70
比如，当前已有一个人在诊断问题，后面又其它人连上来诊断，这时server可以通知client，提示一下。

支持one way并不会很复杂，可以预留出来。比如:
[code]
在包头标识下就可以了。

[2015-09-24 15:10] oldmanpushcart commented on #70
好的，这个建议不错，非常感谢。

[2015-09-29 11:34] hengyunabc opened #72 "pom.xml里命名加上前缀？"
比如这个agent/pom.xml：
[code]
改为这个？
[code]

这样子在IDE里查看项目时，显示的是greys-agent，而不是aget。这样子项目在一起，方便查看。

[2015-09-30 04:25] oldmanpushcart commented on #72
我在`1.7.0.7`版本中增加了你的建议，这个版本会在国庆之后发布。

[2015-09-30 04:25] #72 closed

[2015-09-30 04:29] oldmanpushcart opened #73 "trace命令存在时间为负数的情况"
在某些情况下，`trace`命令统计出来的时间竟然为负数。这种场景我只有在TreeView的begin()和end()方法没有配对的情况下才会出现，需要好好尽兴排查。

[2015-09-30 04:30] oldmanpushcart opened #74 "trace命令在处理大方法时会出现编译错误"
[code]

就其原因，主要还是`trace`命令要在每个方法中埋点过多，遇到大方法的时候非常容易超过JVM对于method_code不能超过64K的限制

[2015-09-30 04:32] oldmanpushcart opened #75 "trace命令需要输出统计摘要信息"
今天trace命令输出了非常完整和详细的调用，但如果遇到for循环输出的内容就傻眼了。此时需要trace命令和monitor命令做一个结合，这个需要greys底层新提供接口。

[2015-09-30 05:03] oldmanpushcart opened #76 "GREYS在处理继承类的时候非常混乱"
GREYS的所有命令在处理继承关系的时候非常混乱，不同命令之间看到的信息不对等，给用户使用上带来非常多的困扰。

[2015-10-01 03:23] oldmanpushcart opened #77 "monitor命令增加max/min/concurrent三个监控指标"
1. 对于实际问题排查而言，`RT`容易被max/min所干扰，所以需要在统计的时候需要明确标记出max/min
1. 在排查过程中需要监控到当前方法并发进入量（在访问池化对象的时候尤其有用）

[2015-10-01 08:16] oldmanpushcart commented on #77
1. `并发进入量`功能暂不支持
1. `max`/`min`功能在`1.7.1.0`版本支持

[2015-10-01 08:16] #77 closed

[2015-10-01 08:16] oldmanpushcart commented on #76
在`1.7.1.0`版本中改善

[2015-10-01 08:16] #76 closed

[2015-10-02 02:15] oldmanpushcart commented on #74
采用`ptrace`代替

[2015-10-02 02:15] #74 closed

[2015-10-05 12:38] oldmanpushcart commented on #73
在`1.7.1.0`版本中修复

[2015-10-05 12:38] #73 closed

[2015-10-05 12:38] oldmanpushcart commented on #60
切换到`ptrace`命令中完成这个功能

[2015-10-05 12:38] #60 closed

[2015-10-05 12:41] oldmanpushcart opened #78 "trace命令在跟踪<init>方法时出现顺序错误"
在Greys的模型中，我们期待的顺序是

`before()` -> `invokeBeforeTracing()` -> `invokeAfterTracing()` -> `afterThrowing()`/`afterReturning()` -> `afterFinishing()`

但在处理`<init>`方法时，`invokeBeforeTracing()`要优先于`before()`方法而执行

[2015-10-05 13:29] oldmanpushcart commented on #78
本质原因并非`<init>`方法处理乱序，而是JVM在生成字节码时会优先将`super.<init>`放在当前类`<init>`执行之前而执行，从而触发了`invokeBeforeTracing()`在`<init>`方法之前而执行，破坏了Greys的执行堆栈

[2015-10-05 14:32] oldmanpushcart commented on #78
在`1.7.1.0`版本修复

[2015-10-05 14:32] #78 closed

[2015-10-05 15:16] oldmanpushcart commented on #55
懒得修复了

[2015-10-05 15:16] #55 closed

[2015-10-07 11:25] oldmanpushcart opened #80 "ptrace命令的path-tracing-pattern太难写"
有用户反馈`path-tracing-pattern`在匹配多个包路径时要一次性在一个表达式中写完，需要在正则表达式上下大功夫，非常不方便使用。

[2015-10-07 13:32] oldmanpushcart commented on #80
在`1.7.2.0`版本中修复

[2015-10-07 13:32] #80 closed

[2015-10-15 16:06] hengyunabc opened #82 "当TableView固定列大小，KVView自动列大小时，会出现TableView输出多余的空行"
[code]
出现多余的空行的原因是，KVview在输出时，会补全空格到最长的长度。所以在"yyyyy”后面会多出来很多的空格。再经过TableView的固定列处理，多余的空格就会在一行里放不下，输出成两行（第二行前面是空格）。

[2015-10-17 16:48] oldmanpushcart commented on #82
最近正好生病了，刚看到信息，非常感谢啊！

[2015-10-20 09:50] #82 closed

[2015-10-20 09:53] oldmanpushcart commented on #82
今天抽空发布掉了`1.7.2.3`，非常感谢这么仔细阅读到这个细节

[2015-10-28 16:53] yaojuncn opened #84 "能否提供离线安装版本？ 以及默认不自动更新？或者加上选项"
你好，

有些网络环境连过来更新比较慢？ 而且有时候的确旧版本也够用了？
能否提供下载离线安装的版本？有些网络环境本身也连不了外网。。。

谢谢

[2015-10-29 01:59] oldmanpushcart commented on #84
恩，有离线安装的脚本。

[本地安装](https://github.com/oldmanpushcart/greys-anatomy/wiki/Installing#%E6%9C%AC%E5%9C%B0%E5%AE%89%E8%A3%85)

[2015-10-29 03:39] yaojuncn commented on #84
多谢！

[2015-11-01 14:56] oldmanpushcart commented on #84
大哥，和你商量个事呗。最近马上就要到双十一了，公司的事务繁忙，我估计要到双十一之后才能增加这个功能了。

我和对了下，greys.sh中指定的超时时间为5秒，即greys在启动过程中会有5秒的时间去尝试连接远程阿里云服务器检查最新的greys版本。如果你觉得5秒也忍受不住，可以先将greys中的

[code]

这段代码注释掉，可以避免脚本启动自动更新。

[2015-11-01 15:51] yaojuncn commented on #84
哥，你写这么好用的开源软件给大家用， 然后对用户还这么上心， 我感动极了！
我这需求也是随口一说，一点也不着急。
你工作为重以后有空的时候搞吧。

多谢！

[2015-11-15 09:03] wyzssw opened #85 "搜不到加载类"
[code]

以下是housemd 抓出来的
[code]

[2015-11-15 11:39] wyzssw commented on #85
java版本是
# java -version
java version "1.7.0_75"
Java(TM) SE Runtime Environment (build 1.7.0_75-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.75-b04, mixed mode)

[2015-11-18 06:30] muyuqiu001 opened #86 "1.7.2.3版本使用sm出现问题"
____  ____ _____ _   _  ___ _____ _____ ____  _____ _| |_ ___  ____  _   _
 / _  |/ ___) ___ | | | |/___|_____|____ |  _ \(____ (_   _) _ \|    \| | | |
( (_| | |   | ____| |_| |___ |     / ___ | | | / ___ | | || |_| | | | | |_| |
 \___ |_|   |_____)\__  (___/      \_____|_| |_\_____|  \__)___/|_|_|_|\__  |
(_____|           (____/                                              (____/

[2015-11-18 07:29] wildwolfk commented on #86
用help sm 看下吧

提示很清楚了 少了方法的匹配参数

你如果不关心具体什么方法，可以写个 *

[2015-11-18 10:30] oldmanpushcart commented on #85
确实有点奇怪，抱歉回答晚了。
能否提供下`session`命令返回的内容？

[2015-11-18 10:33] oldmanpushcart commented on #86
确实不能怪用户，我之前的版本中的`method-pattern`参数默认给了一个`*`，但在后来某一次版本变更时手贱改了下，我记住了，下个版本给你恢复回来。

[2015-11-18 10:33] #86 closed

[2015-11-18 12:29] muyuqiu001 commented on #86
@oldmanpushcart
还有啊，
com.github.ompc.greys.core.command.SearchClassCommand里面
@Cmd(name = "sc", sort = 0, summary = "Search all the classes loaded by JVM",
        eg = {
                "sc -E org\\.apache\\.commons\\.lang\\.StringUtils",
                "sc -d org.apache.commons.lang.StringUtils",
                "sc -Sd *StringUtils"
        })
是不是最后一行的提示的参数不对啊，不是-Sd，是-fd吧？

[2015-11-18 12:49] muyuqiu001 commented on #86
@oldmanpushcart
请问另一个问题：
ga?>sm -d main *
+----------------+----------------+
| DECLARED-CLASS | VISIBLE-METHOD |
+----------------+----------------+
Affect(row-cnt:0) cost in 568 ms.

我搜索的main方法应该已经加载到内存中了吧，为什么不显示呢？

[2015-11-19 17:39] oldmanpushcart commented on #86
## 第一个问题

[code]

确实如你所说，`-S`的参数已经过时，我在`1.7.2.0`版本中已经去掉，但却忘记更改文案提示，我会在下一个版本纠正包括`sm`命令在内的其它过期的帮助信息。

## 第二个问题

[code]

`sm`命令的格式为

[code]

所以如果你希望搜索所有已加载到JVM类中所有的`main`方法，可以这样写`sm * main`

[2015-11-20 05:41] wyzssw commented on #85
[code]

[2015-11-20 05:43] wyzssw commented on #85
[code]

[2015-11-20 10:14] muyuqiu001 commented on #86
@oldmanpushcart 感谢回复，
突然感觉在提第二个问题的时候脑袋短路了。。。

[2015-11-20 10:41] oldmanpushcart commented on #85
## 原因

你期望的目标JVM进程号是`16022`，但实际上greys.sh访问的JVM进程是`15762`，我猜测你先在`15762`进程上加载了Greys，占用了3658端口。

目前Greys有个细节没做好，实际上greys.sh默认会去访问3658端口，而3658端口绑定的JVM进程是`15762`，我猜测这个JVM中正好没有加在到`com.google.common.cache.CacheBuilder`，所以导致了你的疑惑。

## 建议

[code]

这样应该可以了

[2015-11-20 10:43] #85 closed

[2015-11-20 13:57] wyzssw commented on #85
[code]
确实可以了，谢谢

[2015-11-25 03:08] muyuqiu001 commented on #86
![default](https://cloud.githubusercontent.com/assets/971514/11387366/aaddac14-9364-11e5-930a-bdf918f65547.JPG)

刚刚开始还是显示两个提示符啊？
ga?>
ga?>

@oldmanpushcart 和使用哪个shell有关系吗？

[2015-11-25 07:38] muyuqiu001 commented on #86
惊喜是这个？？

I will not make the same mistakes that you did
I will not let myself
Cause my heart so much misery
I will not break the way you did
You fell so hard

I ve learned the hard way
To never let it get that far

Because of you
I never stray too far from the sidewalk
Because of you
I learned to play on the safe side so I don t get hurt
Because of you
I find it hard to trust not only me, but ever

[2015-11-25 07:59] muyuqiu001 commented on #86
![default](https://cloud.githubusercontent.com/assets/971514/11391438/6933bb4a-938d-11e5-8015-e4aea6cf5d50.JPG)

这一块少拦截了一个异常吧？

[2015-11-27 04:44] oldmanpushcart commented on #86
你是说少了`IllegalArgumentException`异常吧，当时有考虑过，因为这个异常的抛出条件是

[code]

这个我从编码上就应该规避这个异常，所以当时考虑了下所以没有拦他，不过从严谨的角度出发，应该拦的～ :) 我在下一个版本中加上

[2015-11-28 08:48] oldmanpushcart opened #88 "greys在shutdown时存在perm区泄漏"
greys在启动的过程中会加上JVM的ShutdownHook，但在greys自身shutdown时，却没有主动remove掉，从而导致存在perm区的废气ClassLoader无法回收。

[2015-11-28 09:14] muyuqiu001 commented on #86
@oldmanpushcart 麻烦看下两个提示符的问题~开始运行的时候出来了两个提示符~

[2015-11-28 16:15] oldmanpushcart commented on #88
扩展来看，不止ShutdownHook，至少还有3个地方存在泄漏。

1. Spy的CLASSLOADER
2. ThreadLocal
3. java.beans.Introspector

[2015-11-29 10:45] oldmanpushcart commented on #86
这个我有点修复不掉～让我考虑考虑，现在还有一个groovy在perm区的泄漏还没解决

[2015-12-01 02:33] muyuqiu001 commented on #86
![default](https://cloud.githubusercontent.com/assets/971514/11490763/d984279e-9816-11e5-878b-f1db385aa2bd.PNG)
这个session如果map中存在的话，也没有主动销毁吧
@oldmanpushcart

[2015-12-01 03:50] muyuqiu001 commented on #86
![default](https://cloud.githubusercontent.com/assets/971514/11491944/b2cfb4b4-9821-11e5-8e8c-c5a6c8e4e480.PNG)

[2015-12-06 10:46] oldmanpushcart commented on #86
catch不全和判断多余的问题，我都在`1.7.3.0`版本中修复了

[2015-12-06 10:47] oldmanpushcart commented on #88
由于我对Groovy理解不全，所以切换为OGNL表达式实现，在`1.7.3.0`版本中修复

[2015-12-06 10:47] #88 closed

[2015-12-07 03:57] muyuqiu001 opened #90 "使用stack命令显示的调用行数出现错误"
使用最新版本的1.7.3.0版本
调用stack命令的时候，显示如下
ga?>stack *TestMain buildEvent
Press Ctrl+D to abort.
Affect(class-cnt:1 , method-cnt:1) cost in 1722 ms.
thread_name="main" thread_id=0x1;is_daemon=false;priority=5;
    @sun.reflect.DelegatingMethodAccessorImpl.invoke()
        at java.lang.reflect.Method.invoke(Method.java:483)
        at com.test.mytest.TestMain.buildEvent(TestMain.java:-1)
        at com.tes

[2015-12-07 05:57] oldmanpushcart commented on #90
收到，周末发版本修复这个BUG，非常抱歉

[2015-12-09 21:10] oldmanpushcart commented on #90
在`1.7.3.1`版本已经修复

[2015-12-09 23:17] oldmanpushcart opened #94 "trace命令在跟进类构造函数存在继承关系的时候不准"
RT

[2015-12-09 23:17] oldmanpushcart commented on #94
周末修复

[2015-12-10 07:33] oldmanpushcart opened #95 "watch/tt命令支持查看入参、返回值对象内存大小"
来自 木苏 的需求

[2015-12-10 08:34] muyuqiu001 opened #96 "怎么调试啊？"
有没有debug模式啊？好像都没办法调试

[2015-12-10 13:51] oldmanpushcart commented on #96
JVM的调试是基于JDWP协议的，所以只要在JVM中跑的代码理论上你都能进行远程调试（比如JDB、Eclipse/IDEA的远程调试）。你所需要做的是

1. 将你的工程代码和Greys的代码都导入到同一个工作空间（Eclipse叫workspace；IDEA叫Project）中
1. 在Java应用启动的时候增加参数 "-Xdebug -Xrunjdwp:transport=dt_socket,suspend=n,server=y,address=8000"，具体参数的含义可以Google到
1. 在Eclipse/IDEA中发起远程调试

至此，你将能对Greys的代码进行调试

[2015-12-11 01:33] muyuqiu001 commented on #96
这个我试过了，不知道是不是多次反射的原因，打的断点只能在GreysLauncher/AgentLauncher/GreysConsole上生效，比如在DefaultCommandHandler的executeCommand上打断点就是停不住

[2015-12-11 05:04] oldmanpushcart opened #98 "Advice的returnObj在拦截构造函数的时候丢失"
在return的时候,如果目标函数是<init>,会导致return的内容缺失

[2015-12-11 05:07] oldmanpushcart commented on #96
好的，我周末核对下 :)

[2015-12-11 11:09] oldmanpushcart commented on #95
watch命令我没有考虑好交互方式，先在tt命令上解决了

[2015-12-11 11:09] #95 closed

[2015-12-12 12:20] oldmanpushcart commented on #96
Hi @muyuqiu001

我周末用我的本地测试工程`AgentTest`进行了一次演示，是可以进行debug的哈。

- 以下是我的工程截图

  ![debug](https://raw.githubusercontent.com/oldmanpushcart/images/master/temp/063307243ccff2381e3898fa14163791.png)

[2015-12-12 12:22] oldmanpushcart commented on #98
在`1.7.3.2`解决

[2015-12-12 12:22] #98 closed

[2015-12-13 05:10] muyuqiu001 commented on #96
我在windows下通过远程端口进行调试的，环境不一样的原因吗？

[2015-12-13 06:03] oldmanpushcart commented on #96
我相信不是 :)

[2015-12-13 16:37] #94 closed

[2015-12-14 06:03] muyuqiu001 commented on #96
1、在greys.sh中添加debugMode
[code]
2、在eclipse中设置Remoting参数
![default](https://cloud.githubusercontent.com/assets/971514/11773909/e6c8a886-a26a-11e5-96a3-c1c6f74e9dfd.JPG)
3、在com.github.ompc.greys.core.server.DefaultCommandHandler的executeCommand方法中打上断点
![1](https://cloud.githubusercontent.com/assets/971514/11773939/3712ab34-a26b-11e5-9f4f-ab7248b552cf.JPG)
4、启动greys.sh

之后在打断点的地方停不住

[2015-12-14 12:41] neweast commented on #96
@muyuqiu001 琨总的意思，应该是指，有一个应用A，首先以debug模式启动应用A；然后在idea或者eclipse里将greys作为一个maven模块，添加到应用A里；再通过idea或者eclips远程调试应用A；最后运行greys，pid为应用A的pid。这个时候应该就可以debug了。

[2015-12-14 12:52] oldmanpushcart commented on #96
@neweast 啊哈，是这个意思。不过`然后在idea或者eclipse里将greys作为一个maven模块，添加到应用A里`，这个是我为乐图展示方便，所以才作为一个子模块加入进来，实际上greys可以独立一个工程而存在的。

我的对 @muyuqiu001 的建议是

[2015-12-14 12:57] muyuqiu001 commented on #96
@neweast 按照你说的这么操作的话，会不会classloader将agent与core同时加载，由于在同一个classloader中，agent与core在运行的时候就会报错的吧？
现在我是将一个test工程在windows下打成jar包，然后在linux上通过java -jar test.jar进行执行的。

[2015-12-14 12:58] muyuqiu001 commented on #96
我直接将目标应用使用debug模式启动就可以进行调试了是吧？

[2015-12-14 13:08] neweast commented on #96
@muyuqiu001 greys attach到目标JVM之后，目标JVM本身就会同时加载agent和core，他们俩应该没什么冲突吧。

[2015-12-14 13:17] muyuqiu001 commented on #96
@neweast 我刚刚的意思是将agent和core与目标工程打在同一个jar包中，然后使用java -jar 进行执行

[2015-12-15 01:58] neweast commented on #96
@muyuqiu001

或者你直接这样子吧：

1. 运行你的jar包。查下pid是多少。
2. grey.sh 监控目标pid
3. idea或者eclipse打开gryes的工程，远程调试连接到jar包的JVM。

[2015-12-15 02:23] muyuqiu001 commented on #96
可以调试了~
和上面讲的一样，debug目标进程就可以了~
谢谢各位~ @oldmanpushcart  @neweast

[2015-12-15 02:23] #96 closed

[2015-12-16 10:02] AlexKingSWU opened #100 "请问支持对Scala程序的问题诊断吗？"
请问支持对Scala程序的问题诊断吗？

[2015-12-16 13:04] oldmanpushcart commented on #100
Scala是基于JVM的产品，理论上所有基于JDK解释并运行的语言都能被Greys所支持，当然操作方式上可能略有不同。但由于我不是Scala的用户，所以是否能友好的交互以及如何更有好的交互，需要大家的帮忙。

[2015-12-16 13:09] muyuqiu001 commented on #90
@oldmanpushcart
这个问题是不是还是不对啊？

这个是我调试时取出的堆栈，使用Thread.currentThread().getStackTrace()得到的堆栈信息：
com.test.mytest.TestMain.buildEvent(TestMain.java)
com.test.mytest.TestMain.main(TestMain.java:18)
sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:39)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccess

[2015-12-16 13:46] oldmanpushcart commented on #90
你的Test代码发来给我瞅瞅?

[2015-12-17 01:00] muyuqiu001 commented on #90
package com.test.greys;

public class TestMain
{
    private static TestMain Instance = new TestMain();

    public TestMain()
    {

    }

    public static void main(String[] args) throws InterruptedException
    {
        int time = 1;

        while (time <= 3600)
        {
            MyEvent myEvent = Instance.buildEvent(time, args[0]);
            System.out.println(myEvent);
            T

[2015-12-17 01:31] muyuqiu001 commented on #90
需不需要新建一个issue：
当查询的东西返回输出内容比较多时，超过2048字节的时候，就挂死了，也不抛异常，必须重启原应用才生效，出现过一次，我也忘记当时使用什么命令了

[2015-12-17 02:24] oldmanpushcart commented on #90
MyEvent的代码能否也提供下；

超过2048字节我自己特意测试过的，应该不会有问题，下次重现的时候麻烦dump下console和目标jvm的内存然后发给我 :)

[2015-12-17 03:04] trentsky opened #101 "运行结果怎么保存到文件里？"
运行结果怎么保存到文件里？

[2015-12-17 03:10] muyuqiu001 commented on #90
[code]
--------------
[code]

[2015-12-17 06:37] muyuqiu001 commented on #101
可以重写print方法，将内容不是通过TCP传输到控制台，而是直接到文件，同步写的话估计性能受比较大的影响

[2015-12-17 09:19] oldmanpushcart commented on #90
[code]

哦，我明白了。 `@TestMain.buildEvent(TestMain.java:-1)`，在`@`字符这一行的代表的是起始函数，之所以是`-1`是我的疏忽，其实这个值没有任何的意义，你可以忽略掉。

[code]

让我考虑下，是否在下个版本中修复掉吧，问题不大。

[2015-12-17 09:19] #90 closed

[2015-12-17 09:21] oldmanpushcart commented on #101
不用哈，可以参考Greys的UserGuide中[其它问题](https://github.com/oldmanpushcart/greys-anatomy/wiki/greys-pdf#%E5%85%B6%E4%BB%96%E9%97%AE%E9%A2%98)

[2015-12-17 09:21] #101 closed

[2015-12-17 09:22] #100 closed

[2015-12-24 03:19] muyuqiu001 opened #102 "多人并行协作"
关于这一条：基于C/S架构的任务模式甚至能让多人同时远程到同一进程上执行不同的指令、脚本，非常适合团队一起进行线上问题排查与跟踪。

通过IP:PORT进行访问报错：
[code]
关于多人并行协作是不是我理解错了：
在17机器上安装了greys，去监控16机器上(16机器上也安装了greys)的85235，然后可以在17机器上进行命令执行。

正确的理解是：
多人都需要通过工具连接到16机器上，然后去运行16机器上的greys

如果下面正确的话那是不是IP就没有必要了？固定为127.0.0.1就可以了呢？

[2015-12-24 08:55] oldmanpushcart commented on #102
你没有理解错，但最关键的就是启动网卡要指定，如果没有指定，默认值是`127.0.0.1`网卡才能访问。这个也是出于安全方向考虑。

除非你强制在启动greys的时候指定开放的网卡和端口，否则只有本机可以访问。

[2015-12-24 08:55] #102 closed

[2015-12-28 13:18] shrekwang opened #103 "启动时报错"
start greys failed, because : com.sun.tools.attach.VirtualMachineDescriptor
attach to target jvm(xxxx) failed.

java 环境为
java version "1.7.0_85"
OpenJDK Runtime Environment (rhel-2.6.1.2.el7_1-x86_64 u85-b01)
OpenJDK 64-Bit Server VM (build 24.85-b03, mixed mode)

服务器为阿里云ecs实列
cent os 7 操作系统

[2015-12-28 13:42] shrekwang commented on #103
greys的版本为: Archive:  .greys/lib/temp_1.7.3.2_28120/greys-1.7.3.2-bin.zip

[2015-12-29 03:59] oldmanpushcart commented on #103
1. 确保你执行greys的时候拥有和对映JVM拥有同样的权限哈
2. 确保你输入对了进程号，别输入成了其它的进程号（这条最有可能）

如果还不行，能否提供下现场的截图；

比如：

[code]

[code]

[2015-12-29 05:33] shrekwang commented on #103
为什么是who命令? who命令看到的用户确实和当前用户不一样, 因为我是先以其他账号登录, 然后su成其他用户的. 用whoami 命令看到的当前账号 和启动 java进程的账号一致.

[2015-12-29 05:56] oldmanpushcart commented on #103
奇了怪了，能否给我一个现场看看，比如这台机器给我分配一个有对应权限的帐号？如果方便的话微博私信给我～

[2015-12-29 06:20] shrekwang commented on #103
我自己找到问题了, 是JAVA_HOME设到JRE目录去了, 估计是tools.jar包找不到吧. 设置正确后就没问题了. 感谢回复.

[2015-12-29 06:21] oldmanpushcart commented on #103
OK，看来我得想办法写一个检测脚本了...老是问人家要帐号不是个办法，哈哈

[2015-12-29 06:21] #103 closed

[2015-12-30 12:12] oldmanpushcart opened #105 "需要引入支持ANSI的TextUI框架"
现有的界面很土，需要引入更牛X的TextUI，让我好好设计一番

[2016-01-04 05:27] garytao opened #106 "可以在打点命令运行的时候把控制台的输出存到日志文件吗？"
可以在打点命令运行的时候把控制台的输出存到日志文件吗？比如我执行ptrace命令，有的类被调用的很少，我要实时观察的话 很久才有调用一次，可不可以把观察到的结果输出到日志文件？

[2016-01-04 09:43] oldmanpushcart commented on #106
1. Greys支持将信息输出到文件中么？

    支持，不过要做一些小命令。

[code]

不知道这个是否能帮助到你

[2016-01-04 09:46] garytao commented on #106
非常感谢，这样的话在启动greys时就产生了这个日志文件，我想再请教您一下，这个日志会记录我启动greys之后每次运行命令的结果吗？还是需要在运行命令时再次做一些处理？

[2016-01-04 15:07] oldmanpushcart commented on #106
会记录下启动Greys之后所有信息，包括欢迎界面等

[2016-01-04 15:07] #106 closed

[2016-01-05 02:06] muyuqiu001 opened #107 "session-write-queue-capacity 设置之后不能立即生效"
设置之后必须shutdown或者quit后重新登录才能生效，最好设置之后让其立即生效

[2016-01-05 06:06] oldmanpushcart commented on #107
这个有一定的难度，毕竟这个参数不是一个经常调整的参数。做是可以做，但实用性上我比较纠结。

[2016-01-06 03:03] #107 closed

[2016-01-07 08:58] oldmanpushcart opened #108 "asm命令在部分自定义ClassLoader中无法正确解析"
yosingron用户反馈，自定义ClassLoader在以文件的形式从一个错位的class文件加载到ClassLoader中时，其他命令可以正常使用，但asm命令无法正确解析。

[2016-01-07 14:13] oldmanpushcart commented on #108
在`1.7.3.3`修复

[2016-01-07 14:13] #108 closed

[2016-01-12 09:03] oldmanpushcart opened #111 "当对象无法被渲染的时候返回错误信息"
tt命令在执行的时候会去渲染对象，调用对象的toString()方法，但是某些场景下对象重写了toString，会让这个方法执行报错，此时会导致整个命令执行失败。用户体验不友好。

[2016-01-12 09:03] #111 closed

[2016-01-18 07:54] oldmanpushcart opened #112 "在某些特殊的ClassLoader中植入Spy会报错"
在某些特殊的ClassLoader实现中，定义Spy会出现
[code]
这样的错误信息

[2016-01-18 07:55] #112 closed

[2016-01-18 12:35] muyuqiu001 opened #113 "有没有用过IBM的JDK啊"
似乎报错

[2016-01-19 06:19] oldmanpushcart commented on #113
没有，能否告知下报错的内容

[2016-01-19 11:09] muyuqiu001 commented on #113
<pre>
版本：
java version "1.6.0"
Java(TM) SE Runtime Environment (build pxa6460sr16fp4-20150414_01(SR16 FP4))
IBM J9 VM (build 2.4, JRE 1.6.0 IBM J9 2.4 Linux amd64-64 jvmxa6460sr16fp4-20150406_242976 (JIT enabled, AOT enabled)
J9VM - 20150406_242976
JIT  - r9_20150402_88984
GC   - GA24_Java6_SR16_20150406_1410_B242976)
JCL  - 20150413_01
</pre>
报错：
[code]

<pre>
版本：
java version "1.8.0"
Java(TM) SE

[2016-01-20 08:42] oldmanpushcart commented on #113
我今天找到了一台老的Linux 64bit，我安装了IBM的J9，然后...顺利运行了

[code]

所以我比较怀疑你的JVM所跑的参数限制了安全策略，能否给下JVM信息

[2016-01-20 09:19] muyuqiu001 commented on #113
[code]

[2016-01-20 09:31] oldmanpushcart commented on #113
这个启动成功了，那个命令你用不了呢？

[2016-01-20 09:36] muyuqiu001 commented on #113
启动是能启动成功，但是启动的时候报错，执行命令的时候也会报错，报错就是上面写的那些~

[2016-01-20 09:37] oldmanpushcart commented on #113
具体哪些命令？我尝试执行了`trace`，能跑通

[2016-01-20 09:39] muyuqiu001 commented on #113
就是对类进行加强的这些，比如：
trace stack
[code]
我执行的stack

[2016-01-20 15:45] muyuqiu001 commented on #113
[code]
这个是我今晚刚刚装的ubuntu 64位系统与新装的JDK1.8，抛出同样的错误。
[code]

[2016-01-21 07:46] tangweixin commented on #112
请问这是什么ClassLoader?

[2016-01-21 07:49] tangweixin opened #114 "trace[ptrace]如果支持多级调用链路？"
## 请问：trace[ptrace]如何支持多级调用链路？
如题

[2016-01-21 07:54] tangweixin opened #115 "关于使用方式"
## 关于使用方式
是否考虑支持这种形式，这样方便通过写脚本来排查问题。记录日志信息。
greys <PID> 'some greys commands here'

[2016-01-21 12:11] muyuqiu001 commented on #114
你问的是如何？

使用ptrace可以
你可以试下
[code]
这样的命令

[2016-01-22 07:54] oldmanpushcart commented on #115
恩，我打算在下一个大版本升级中实现这个功能。期待我在春节期间的编码有如神助吧...

[2016-01-22 07:59] oldmanpushcart commented on #114
赞楼上的说法，`ptrace`就是来解决这个问题，补刀下，`--path`这个参数可以用多次，注意是`--`

[2016-01-22 08:01] oldmanpushcart commented on #113
如果有环境给我登录上去就好了，目前我也只能干着急哎

[2016-01-22 10:40] muyuqiu001 commented on #113
QQ号能否透露下？可以远程

[2016-01-22 15:00] oldmanpushcart commented on #113
QQ：76367959，MAC用户估计很难远程

[2016-01-22 15:08] muyuqiu001 commented on #113
vmware + Ubuntu15.10 + IBM JDK 1.8 这个环境，MAC上能搭建不？

[2016-01-22 16:22] muyuqiu001 commented on #113
几经周折，终于找到解决方法了：
在程序启动的时候添加debug参数：
[code]
应该是IBM的安全策略限制问题导致的，不知道有没有什么方法解决安全策略限制。

[2016-01-25 01:32] muyuqiu001 commented on #113
这个问题还需要继续跟踪，业务在使用的时候肯定不同意加上debug参数的，需要看看还有没有其他解决方式.

[2016-01-25 03:26] oldmanpushcart commented on #113
这个帮忙一起看了，春节的时间已经确定要做GREYS1.8版本开发，估计没空跟着 :)

[2016-01-31 03:48] #114 closed

[2016-02-02 04:42] oldmanpushcart opened #116 "回复Groovy脚本支持"
Groovy脚本支持会给Greys带来非常高的灵活性和扩展性，甚至很多功能都能基于Groovy脚本做二次封装和开发。

我会在年后的1.8版本中恢复这个功能

[2016-02-04 04:04] oldmanpushcart commented on #84
我在`greys.sh`中增加参数

[code]

[2016-02-04 04:04] #84 closed

[2016-02-04 04:08] oldmanpushcart opened #117 "在特殊JDK下面启动失败"
[code]

原因是greys.sh脚本里判断java版本的时候没有考虑到openjdk version开头的场景

[code]

[2016-02-10 12:57] oldmanpushcart commented on #116
Groovy脚本还是没有搞定内存泄漏的问题，但我修复了JavaScript支持的问题，所以直接换成JavaScript啦

[2016-02-15 07:00] edagarli opened #119 "illegal ENV, please set $JAVA_HOME to JDK6+"
echo $JAVA_HOME

show " /Library/Java/JavaVirtualMachines/jdk1.7.0_67.jdk/Contents/Home  "

why ?

[2016-02-15 09:20] oldmanpushcart commented on #119
方便的话`java -version`，给我看看版本好么

[2016-02-15 09:21] #116 closed

[2016-02-15 09:21] #115 closed

[2016-02-15 09:21] #117 closed

[2016-02-15 09:41] edagarli commented on #119
java version "1.7.0_67"
Java(TM) SE Runtime Environment (build 1.7.0_67-b01)
Java HotSpot(TM) 64-Bit Server VM (build 24.65-b04, mixed mode)

[2016-02-16 10:06] oldmanpushcart commented on #119
奇怪了，这个JDK版本在MACOS下经过测试了，没有问题才对。
能将你greys脚本之行的命令给我瞅下不，我看是否有`sudo -u`之类的前缀

[2016-02-16 10:09] edagarli commented on #119
justhacker:greys justhacker$ sudo ./greys.sh
illegal ENV, please set $JAVA_HOME to JDK6+

[2016-02-16 12:29] oldmanpushcart commented on #119
哈哈哈，我知道了。

1. 如果你的应用是root启动的，可以这样

[code]

1. 如果你的应用是admin启动的，可以这样

[code]

1. 如果你的应用就是你当前用户`justhacker`启动的，可以这样

[code]

[2016-02-17 02:41] edagarli commented on #119
我可能需要再看看是否是其他原因～～   因为我是justhacker用户下启动./greys.sh <PID>的～

[2016-02-17 02:50] #119 closed

[2016-03-14 14:09] hengyunabc opened #120 "当增强Throwable时，代码运行会抛出java.lang.StackOverflowError"
在代码里增加一个简单的 ExceptionCommand

[code]

然后测试代码是：

[code]

在命令行里attatch上测试代码进程后，会抛出下面的StackOverflowError异常：

[code]

[2016-03-14 14:11] hengyunabc commented on #120
具体的原因是，JVM在执行反射方法时，当经过16次调用时，就尝试生成反射调用的代码。具体参考：http://rednaxelafx.iteye.com/blog/548536

在上面的测试代码里，一直不断new RuntimeException。当Throwable被增强之后，会在构造函数里不断地调用`Spy.ON_BEFORE_METHOD.invoke` 。
当这个反射调用被优化时，新生成的类被define，会调用到AgentLauncher里的URLClassLoader的loadClass函数。

而在这个loadClass函数里，优先从本ClassLoader里查找，会就抛出一个ClassNotFoundException。

然后在这个ClassNotFoundException会调用到Throwable的init函数。这样子就会出现死循环，直到StackOverflowEr

[2016-03-14 14:23] hengyunabc commented on #120
为了避免这个问题，AgentLauncher 里的URLClassLoader只需要保证parent不是SystemClassLoader，是ExtClassLoader即可。这样子避免在loadClass抛出异常，从而导致死循环调用。

[2016-03-15 09:08] oldmanpushcart commented on #120
非常感谢，我周末核对。你的修复方案变动也挺大，我也要再仔细阅读URLClassLoader的源码，和多次反复试验

[2016-03-21 12:13] oldmanpushcart commented on #120
我确认你说这种情况，但修复方式`AgentLauncher 里的URLClassLoader只需要保证parent不是SystemClassLoader，是ExtClassLoader即可。这样子避免在loadClass抛出异常，从而导致死循环调用。`上我持有保留观点。我认为这样还是没有根治到问题的本质。

我的想法是要彻底规避掉这个问题，我周末想了个方案，本周找个机会试试

[2016-03-22 02:41] hengyunabc commented on #120
最彻底的方案是把Spy里的Method都去掉，改为一个有那6个方法的一个接口。在初始化Spy里，把实现了接口的对象设置到Spy里。不过，这样子改动比较大。

[2016-03-22 07:04] allwmh opened #123 "tt命令的-t参数 麻烦支持超过多少时间打印：）"

[2016-03-26 13:35] oldmanpushcart opened #124 "trace命令输出需要引入行号"
RT，没有行号不方便等位问题

[2016-03-26 13:37] oldmanpushcart opened #125 "修复trace命令在遇到异常处理顺序问题"
如果原代码已经进行try...catch了异常信息，trace命令将不会能正确处理这个异常信息

[2016-03-26 13:56] oldmanpushcart opened #126 "tt条件命令失效"

[2016-03-27 17:42] #126 closed

[2016-03-27 17:42] #125 closed

[2016-03-27 17:42] #124 closed

[2016-03-27 17:42] #123 closed

[2016-04-07 08:15] odd2008 opened #128 "如何跟踪容器启动时代码"
您好，
    请问当我在web容器启动的时候，就监控到相关信息应该怎么做呢？

[2016-04-08 06:33] oldmanpushcart commented on #128
这个我还在想办法开发，之前都是为了运行时动态加载而设计的。启动就加载的设计我需要重新修改内核，时间比较漫长。但我会想办法支持的。

[2016-05-25 03:18] forestfantacy opened #129 "试用过程遇到的几个问题，求回复"
第一，watch 命令的结果为何会有多个重复呢？

[code]
调用一次接口，会打印方法参数，然而会重复打印4行，去掉参数b或bf都去掉，仍有两个输出，为什么不是只输出一行呢。

第二，参数n该怎么正确使用，总是提示不认识，求指点
[code]

第三，ptrace 加条件表达式没有任何输出，求指点
[code]

第四，ptrace 或者 trace 命令如何查看入参、返回值？

[2016-05-25 04:02] forestfantacy commented on #129
前2个找着原因了：
第一，是因为在目标类上有aop，多出来的输出是代理类的调用记录。
第二，将 -n:1 中的:去掉就好使，help 中给的提示是错的。

[2016-05-25 16:01] oldmanpushcart commented on #129
第三个问题：原因是`param`少了个`s`，应该是`params`
第四个问题：`trace`命令真不支持，不过`ptrace`命令是可以用`-t`来支持的～

[2016-05-26 07:06] rodbate opened #130 "测试增加命令疑问，请回复"
当我增加一个命令时，本地开发环境可用，而上传到服务器后这个命令就不见了，怎么
@oldmanpushcart

[2016-05-26 09:38] rodbate commented on #130
![image](https://cloud.githubusercontent.com/assets/14209157/15570371/52eb6c64-2368-11e6-92f2-c2a06c551a91.png)这是本地windows环境

![image](https://cloud.githubusercontent.com/assets/14209157/15570418/898776b4-2368-11e6-9c96-4e2b12b6aa79.png) 这是linux环境，新增的topthread命令没有，求答复

@oldmanpushcart

[2016-05-26 11:22] oldmanpushcart commented on #130
哇哈，windows下你的启动脚本解决了？求贡献`bat`  or `power shell`脚本；`topthread`也求贡献～～

一般是两个原因

1. 远程服务器的greys没有`shutdown`

   解决：登录上去后，执行命令`shutdown`，然后重连

2. 远程服务器没有进行安装成功

    因为本地安装脚本`install-local.sh`有一个蛋疼的逻辑

[code]

   如果你当前的版本和本地已经安装的版本，版本号一致，将不会进行安装；

   解决：修改version文件，让版本号抬高或降低；或者主动删除掉`${HOME}/.greys/lib`下对应的版本目录

[2016-05-27 01:33] #129 closed

[2016-05-27 01:43] realczm opened #131 "illegal ENV, please set $JAVA_HOME to JDK6+"
[root@vps real]# ./greys.sh 30544
illegal ENV, please set $JAVA_HOME to JDK6+
[root@vps real]# echo $JAVA_HOME
/home/real/jdk1.8.0_51/bin/java
[root@vps real]# java -version
java version "1.8.0_51"
Java(TM) SE Runtime Environment (build 1.8.0_51-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.51-b03, mixed mode)

help!

[2016-05-27 02:00] #131 closed

[2016-05-27 02:27] realczm opened #132 "start greys failed, because : Failed to load agent library"
[root@vps172160198 real]# ./greys.sh 28857
start greys failed, because : Failed to load agent library
attach to target jvm(28857) failed.

这种状况该怎么处理解决？

[2016-05-27 03:09] realczm commented on #132
原先使用的是JDK1.8，替换成JDK1.7成功启动。

[2016-05-27 03:09] #132 closed

[2016-05-30 01:40] #130 closed

[2016-05-31 13:44] liujiankd opened #133 "中文支持不够友好？"
watch命令查看方法调用的返回结果，如果含有中文，通常都是乱码，有没有好的解决方案？
调了xShell和linux环境的语言环境，还是没啥用

[2016-06-01 08:38] oldmanpushcart commented on #133
这个是xshell和OS环境的字符编码是配问题，可以用`session`命令解决

[2016-06-01 13:22] #133 closed

[2016-07-21 12:09] sunjie21 opened #138 "pTrace 使用时 不明白 --path 的作用"
看了 pTrace 的使用说明，理解 --path 的作用是限制追踪范围的。但是，试了之后发现理解有误。例子如下：

[code]

[code]

第二个例子中的路径`dddd`是不存在的。
请问，`--path`是干什么用的？文档中的`渲染路径`是什么意思？谢谢。

[2016-07-21 12:41] ranqiqiang opened #139 "well-known file is not secure"
$ ./greys.sh 4421
start greys failed, because : well-known file is not secure
attach to target jvm(4421) failed.

JDK：/java/jdk1.7.0_79

从哪儿 可以找原因哦

[2016-07-27 06:31] oldmanpushcart commented on #138
[code]

你的这个理解是正确的，`--path`参数的核心作用就是控制渲染范围。接下来回答你的问题。
你提出的这个问题很可能是我的一个BUG，无论什么原因，确实违反了用户操作的心智，我会考虑在周末进行修复

[2016-07-27 06:35] oldmanpushcart commented on #139
哦，这个你可以参考下网上的解决方案哦：[为什么会"well-known file is not secure" ?](http://lkf520java.iteye.com/blog/1560686)

[2016-07-27 09:07] oldmanpushcart opened #140 "GREYS启动失败"
[code]

[2016-07-29 01:37] whdxhw opened #141 "【求助】远程安装 只能下载到greys.sh文件"
![image](https://cloud.githubusercontent.com/assets/20715036/17234975/f333fa5e-556f-11e6-87f9-0e0c5c7d1739.png)

直接找sh文件中的jar也未找到

[2016-07-29 04:04] whdxhw opened #142 "greys 中诸如ptrace tt的命令产生的数据 能输入到系统文件吗？"

[2016-07-29 04:06] #142 closed

[2016-07-30 07:47] oldmanpushcart commented on #141
啊，就一个`greys.sh`就足够了，这个脚本在`运行的过程`中会自动下载最新版本的jar包，放在$HOME/.greys/lib/下边

[2016-07-31 04:00] #141 closed

[2016-08-01 06:42] #139 closed

[2016-08-05 05:22] yab opened #143 "greys 启动问题"
1，第一次通过 greys.sh 19234启动 greys，启动正常
2，quit 退出后，再次启动greys.sh 32131，发现进入的还是原来的19234虚拟机（通过 jvm 命令查看的）
3，执行shutdown
4，再次 greys.sh 19234 一直卡住不动

jvm 版本：
SPEC-NAME : Java Virtual Machine Specification
SPEC-VENDOR : Oracle Corporation
SPEC-VERSION : 1.8
VM-NAME : Java HotSpot(TM) 64-Bit Server VM
VM-VENDOR : Oracle Corporation
VM-VERSION : 25.40-b25

[2016-08-05 16:41] oldmanpushcart commented on #143
[code]
这个的原因是greys默认访问的是3658端口，原有的19234进程用的是quit命令退出，不会关闭端口，所以在此访问的仍然还是`19234`进程，直到shutdown命令关闭端口为止。

[code]

这个需要查下原因才行，有可能是19234进程启动greys失败（需要看19234的默认日志中greys的日志输出）；另外一种情况可能是3658端口被其他应用占用，试试`telnet 127.0.0.1 3658`

[2016-08-22 07:39] #143 closed

[2016-09-12 11:16] rikkycai opened #144 "使用monitor或trace等命令跟踪java.sql.* 时，报command execution failed."
monitor java.sql.Statement exe*

[2016-09-15 08:51] oldmanpushcart commented on #144
这个问题要看你的日志中报了什么错，基本上greys的日志都输出到你系统的默认日志中

[2016-09-20 07:02] huiwq1990 opened #145 "同名方法怎么区分？"
[code]
如果只watch某一个call方法，怎么区分？谢谢。

[2016-09-20 10:29] oldmanpushcart commented on #145
同名方法用条件表达式区分，否则交互成本太高。比如

[code]

[2016-09-21 08:10] #145 closed

[2016-09-23 14:08] muyuqiu001 commented on #128
@odd2008 你想监控什么信息？

[2016-09-23 14:09] muyuqiu001 commented on #128
@oldmanpushcart 使用agent的话是否能够追踪到？

[2016-09-26 23:57] oldmanpushcart opened #146 "在greys的`tt`命令回放过程中，会影响其它命令的使用"
在greys的`tt`命令回放过程中，会影响其它命令的使用
[code]

[2016-09-28 10:09] gcxtx opened #147 "如何获取到Field的值"
public Object getField(String fieldName) throws NoSuchFieldException, IllegalAccessException {

            Field field = ownertarget.getClass().getDeclaredField(fieldName);
            boolean isaccess = field.isAccessible();
            field.setAccessible(true);
            Object returnField = field.get(ownertarget);

            field.setAccessible(isaccess);
            return returnField;

[2016-09-29 05:26] oldmanpushcart commented on #147
[code]

你是自己实现了一个Command么？

[2016-09-29 05:29] gcxtx commented on #147
嗯，是啊，我想获得到某个对象的字段内容，但是获得到的结果是空的不知道为什么啊。ownertarget是advice.target

[2016-09-29 05:31] oldmanpushcart commented on #147
可以通过 #96 调试下你写的代码，从代码上看我没看出什么明显的错误哈

[2016-09-30 08:18] gcxtx commented on #147
按照#96给出的方法配置完了，调试不了
![image](https://cloud.githubusercontent.com/assets/19422304/18985126/f219b5b0-8728-11e6-8c04-35214e7042e3.png)
![image](https://cloud.githubusercontent.com/assets/19422304/18985206/6ef3cc1a-8729-11e6-8856-1f683cd426df.png)
大牛帮忙看看怎么回事

[2016-10-05 08:54] oldmanpushcart commented on #147
`DEBUG_MODE`这个JVM配置不是加在greys的启动程序上的，而是加在目标JVM启动参数中

[2016-10-08 05:11] gcxtx commented on #147
搞定了，多谢大牛啦。

[2016-10-08 05:11] #147 closed

[2016-10-08 06:41] gcxtx opened #148 "如何获取到tomcat的Request对象"
想获取到tomcat的Request对象，自己写了段代码如下所示：
[code]
按照kun总的方法调试发现Request request = (Request)advice.target;抛出异常了，如下所示：
![image](https://cloud.githubusercontent.com/assets/19422304/19211009/149529e8-8d65-11e6-9c90-53faa24f1ded.png)
这是为什么呢，求大神解惑啊。

[2016-10-08 10:54] oldmanpushcart commented on #148
因为他们两个的ClassLoader不是同一个，`advice.target`所得到的`request`，他的Class来自于Tomcat的ClassLoader，而你在代码中这样写，`Request`的类来自于Greys的ClassLoader；两者是不一样的

[2016-10-08 10:58] #148 closed

[2016-10-12 09:27] garytao opened #149 "可不可以在 trace ,ptrace 命令中过滤掉响应时间小于某个实现（如500ms 或者1秒）"
如题，因为可能某个接口调用非常频繁，只想排查响应时间特别长的情况，应该如何做呢？有现成的参数吗？

[2016-10-13 03:09] fywxin opened #150 "greys 查找不到 elasticSearch 插件类"
elasticSearch ： 1.5.2
plugins： elasticsearch-sql-1.4.5

执行命令：
sc org.nlpcn.es4sql*

返回空~

[2016-10-13 06:45] zhaiyuyong opened #151 "#cost>100无效"
![image](https://cloud.githubusercontent.com/assets/4199724/19339059/a727d552-9153-11e6-9323-57eb41cd9cb6.png)

[code]

[2016-10-13 12:03] oldmanpushcart commented on #151
请问你用的版本是什么版本呢？

[2016-10-13 12:05] oldmanpushcart commented on #150
因为greys只能查询到已经加载到JVM的类，elasticSearch插件的类很可能没有被调用到，所以没有被JVM加载到任何一个ClassLoader，所以查询不到

[2016-10-13 12:07] oldmanpushcart commented on #149
可以在`trace`、`ptrace`命令中使用条件表达式，使用变量值`#cost`

[code]

[2016-10-14 03:05] garytao commented on #149
谢谢！

[2016-10-14 13:19] #149 closed

[2016-10-20 04:24] zhaiyuyong commented on #151
greys最新版本  jdk1.8

[2016-10-20 05:30] fywxin opened #153 "怎么查找到对象 static 静态属性的值"
watch com.cyou.fz.soa.log.dao.kafka.KafkaRpcLogConsumer consumerMessage target -x 1
只能获取到 对象的值， 如果要获取KafkaRpcLogConsumer类的静态属性值，该怎么获取呢？

private static long lastInsertTime = System.currentTimeMillis();

[2016-10-20 10:02] oldmanpushcart commented on #153
[code]

试试呢？

其实

[code]

也能看到

[2016-10-24 07:22] luozengbin opened #154 "咨询: 通过greys能不能查询指定线程的所有ThreadLocal变量"
在共通类或者第三方java类（例如log4j MDC变量）使用ThreadLocal存储上下文参数是很常见到的场景。
但是如果没有正确清理存储在ThreadLocal中的变量可能导致Web应用重新部署时，旧的ClassLoader无法释放，进而导致旧版本Class无法释放造成方法区内存爆满。

针对这类问题的排查，如果可以快速dump出线程中所有ThreadLocal的内容的话会事半功倍。
不知道greys有没有这样的功能呢？

[2016-10-26 09:54] oldmanpushcart commented on #154
这种场景，我基本上都会用jmap直接dump内存来得直接，你觉得呢？

[2016-10-28 10:09] luozengbin commented on #154
因为greys很好用，想说如果能在线上立刻查出来的话，一定很cool !

[2016-10-28 10:09] #154 closed

[2016-10-28 20:22] oldmanpushcart commented on #154
哈哈，感谢你的肯定。不过我一直尽量避免greys变成一个万能的工具，那就失去了我的初衷。不过我正在重新设计greys，开放他动态AOP的能力，让更多的人能写插件动态集成进来。

[2016-11-03 12:00] Yaccc commented on #119
@oldmanpushcart 同样的问题

![image](https://cloud.githubusercontent.com/assets/5906306/19965007/eaafd614-a1ff-11e6-9a8e-775e4d68158f.png)
试了说的三种方法都不行，而且我目前就在自己的目录下

[2016-11-03 12:02] Yaccc commented on #131
@realczm 请问你是怎么解决的呢

[2016-11-03 12:15] Yaccc commented on #119
[code]
 同样的问题，按照你的方法还是不能够解决，最终添加启动脚本的JAVA_HOME变量解决问题

[2016-11-04 00:54] realczm commented on #131
@Yaccc 忘记具体怎么处理，当时本机有1.6,1.7,1.8，应该是把其他版本卸载，保留1.7。你试试吧。

[2016-11-04 09:08] Yaccc commented on #131
@realczm 我强行修改了greys脚本里面的JAVA_HOME解决了，我本地机器只有1.7！不知道什么问题

[2016-11-07 04:00] oldmanpushcart commented on #119
请问你的启动greys的命令是否通过了`sudo -u <LINUX_USER> -H ./greys.sh <PID>`这样的命令格式启动的呢？

[2016-11-07 04:03] oldmanpushcart commented on #140
在`1.7.6.4`中修复

[2016-11-07 04:03] #140 closed

[2016-11-07 04:03] oldmanpushcart commented on #140
在`1.7.6.4`中修复

[2016-11-07 04:04] oldmanpushcart commented on #140
在`1.7.6.4`中修复

[2016-11-07 06:04] Yaccc commented on #119
@oldmanpushcart 不知道什么情况，我收到了github的notify。但是我在github pc竟然看不到你的那条回复了
是的,下面的命令我也执行过了，还是拿不到。所以我就改了greys.sh脚本手动加的
[code]

[2016-11-07 09:54] oldmanpushcart commented on #119
阿里公司最近访问github出现了点问题，估计我的信息发送失败了。我在Github回复的内容是：“能不能把你的运行环境给我看看呢”
我需要的信息是

1. 你执行的greys启动命令
2. 目标JVM启动的信息（ps -ef|grep java）
3. 目标JVM启动的用户是否和当前你登陆的用户保持一致？

[2016-11-07 11:15] Yaccc commented on #119
哈哈，我以前也在阿里中间件实习来着呢~。大神,幸会幸会
1.greys 启动是。`./greys.sh pid`
2.目标JVM就是我的一个本地程序。用ps aux查看到时属于自己用户进程
![image](https://cloud.githubusercontent.com/assets/5906306/20055816/f163841c-a51d-11e6-8ea6-43c3d1e8edf5.png)
3. JVM信息
![image](https://cloud.githubusercontent.com/assets/5906306/20055868/44fda1ac-a51e-11e6-94be-503c81f64dc4.png)
4.java_home
![image](https://cloud.githubusercontent.com/assets/5906306/20

[2016-11-07 11:18] edagarli commented on #119
@Yaccc   其实我也是脚本添加路径解决的。因为线上环境不同，所以这种方式我不用考虑差异性

[2016-11-08 19:53] #150 closed

[2016-11-08 19:54] #144 closed

[2016-11-10 10:53] ykdsg commented on #85
也遇到相同的问题，用shutdown之后在连pid就可以了

[2016-11-15 08:49] dshdata opened #156 "WatchCommand.java#L35 有误"
`watch *StringUtils isBlank params[0] '#cost>100' `
并不能起效，因为没有强行指定b/f/e/s中的任何一个时，则默认为b，而invokeCost对象是在before()中初始化startTime的，并立即进行isInCondition判断，所以#cost永远是0。唯一有效的方式是加上f/e/s中任何一个，例如：
`watch -f *StringUtils isBlank params[0] '#cost>100'`

[2016-11-17 05:36] oldmanpushcart commented on #156
这个略尴尬，的确是的，我周末想办法fix了

[2016-11-17 05:37] #153 closed

[2016-11-17 06:23] oldmanpushcart commented on #156
我艸，不好修，你有什么好的建议么？

[2016-11-24 13:08] cyberdak opened #157 "所有命令都无法使用"
之前可以正常使用，后来使用了一次`trace * *` ，就挂掉了，删除了重新下载也是一样

[code]

[2016-11-27 03:29] cyberdak commented on #157
补充一下，当时使用的jdk版本是6u45

[2016-11-29 10:36] oldmanpushcart commented on #157
非常抱歉给你带来了困扰，不过问题还是要解决下哈。麻烦一下

1. 目标jvm在使用了`trace * *`之后是否有进行过重启
1. `greys`的日志输出在目标JVM的主日志中，可以看看都抛出了什么异常

另外不得不说下，`trace * *`一次性渲染的类太多，会严重影响性能，甚至目标JVM会失去响应，下次执行命令的时候一定要非常小心谨慎。我也得在下一个大版本中考虑下，如果一次性渲染的类过多，必须得提出一个警告。

[2016-11-30 10:55] dshdata commented on #156
我想在文档上补注一下就好了，cost变量语义上就是应该和-f搭配使用的

[2016-11-30 10:55] #156 closed

[2016-12-02 16:54] cyberdak commented on #157
jvm 没重启，当时对jvm本身造成的影响现在也忘记了。。

把这个现场搞丢了蛮可惜的。

有空我去复现一下

[2016-12-02 16:54] #157 closed

[2016-12-08 06:50] yagumoreg opened #159 "如何区分重载方法"
我想对于有condition-express的命令，可以通过入参的数量、类型判断来规避，有没有更简单的方法？
另外monitor没有condition-express又怎么搞？

[2016-12-08 06:52] yagumoreg commented on #159
第1个问题已在https://github.com/oldmanpushcart/greys-anatomy/issues/145找到了答案。

[2016-12-08 07:48] yagumoreg opened #160 "如果访问复杂类型的私有静态属性值"
代码经常搞一个私有静态属性做内部缓存，比如private static Map<String, Object>这样的。
如果是private static String/int这种，我知道用sc -df可简单搞定，但Map或其它复杂类型sc显示出来的是地址而不是值，试过sc -x 3，结果并没有-x这样的彩蛋……

尝试了其它方法，都失败了。失败方法一：在命令express里使用ognl的静态属性访问能力@class@field，失败原因是ognl内部调用jdk的Class.getField()获取Field对象，但此方法不返回私有属性；失败方法二：通过对象来访问类的静态属性target.xx，失败原因同上，最后还是绕到了jdk的Class.getField()。不知道为啥ognl使用getField()而不是getDeclaredField()。

[2016-12-08 08:27] yagumoreg commented on #128
有一个变通方法，开启目标进程debug，指定suspend=y，使目标进程拉起后马上挂起，然后greys附着上去，最后用IDE连接debug端口使目标进行跑进来。

[2016-12-09 02:22] Dyrcj opened #161 "Exception in thread "main" java.net.ConnectException: Connection refused"
使用./greys.sh运行时抛出异常
[code]
然后目标程序抛出的异常是
[code]

[2016-12-09 05:18] cyberdak opened #162 "执行 shutdown 以后，无法再连接"
这是目标jvm打印的日志

[code]

再次使用 `./greys.sh pid` ，会卡住，当使用 Ctrl+z 取消时，显示 `active console failed.`

目标JVM是6u45，greys版本是自动更新的最新版。

我现在的疑问是，是不是我对shutdown的理解有错误？

[2016-12-09 20:42] oldmanpushcart commented on #162
从日志上看，是3658端口被占用了，`shutdown`命令执行之后，端口3658会被释放掉才对。可以用netstat命令看看3658端口被那个应用占了。

shutdown命令执行的语义：退出所有字节码增强的类，释放掉所有greys占用的资源（线程、端口）

[2016-12-09 20:59] oldmanpushcart commented on #161
这个看起来似乎是因为你的`java.policy`禁止了`createClassLoader`的权限，需要核对并打开。 具体怎么核对和修改，可以Google下哈

[2016-12-09 21:01] oldmanpushcart commented on #160
这个嘛...你可以尝试帮忙在`sc`命令中增加下`-x`的彩蛋 :) 最近正好有点点小忙，有空我回头加上，多谢啦

[2016-12-09 21:04] oldmanpushcart commented on #159
`monitor`命令对于重载的方法，目前是不区分的，主要的难点还是在交互体验上，我没有想好一个比较优雅的方式交互

[2016-12-11 15:13] tcgdy0201 opened #163 "读取到非指定PID的问题"
## 问题简述
使用`greys.sh $PID`启动后，读取到的却是另一个java应用的jvm。

## 环境

### 虚拟机信息

[code]

### jdk信息

[code]
## 问题详情
测试环境下同一个虚拟机起了多个java服务，见下方：

[code]

此时我想观察的是`PID: 29719 `的java服务，执行如下命令后进入greys：`./greys.sh 29719`，使用jvm命令后观察到得到的jvm信息却是`PID:32106`的。见下方：
[code]

[2016-12-11 16:38] oldmanpushcart commented on #163
这个是greys不人性化的地方，下个大版本我考虑换个交互方式。
两个解决方案

1. 换个端口启动greys
2. 执行`shutdown`命令，然后再来一次

[2016-12-11 18:46] tcgdy0201 commented on #162
@oldmanpushcart 参考你在 https://github.com/oldmanpushcart/greys-anatomy/issues/163 中回复的解决方案，shutdown不能，再次执行`./greys.sh pid`也碰到了同样的问题。

[2016-12-12 02:37] cyberdak commented on #163
现在的greys是在运行 greys.sh 的时候，启动一个 telnet 服务器，然后再启动一个客户端？
结果启动服务器的过程对用户是无感知的？

2016-12-12 0:38 GMT+08:00 李夏驰 <notifications@github.com>:

[2016-12-12 10:48] oldmanpushcart commented on #163
对的，以后我得改改

[2016-12-12 10:50] oldmanpushcart commented on #162
刚刚留意到一个细节，你是用`CTRL+Z`结束的么？但这个指令是向目标进程发起的是挂起后台，用`fg`命令可以恢复。

[code]

[2016-12-12 14:53] zhenchuan opened #164 "非正常退出后原来增强的指令还会存在么?"
如下,我使用watch命令来监控输入参数, 非正常退出(没有调用shutdown)
这样的话是不是这个监视会一直存在呢? 如果是,怎么清除呢?
[code]

我这边观察到的现象是监视似乎还在,因为我的每个请求的响应时间变长了

[2016-12-16 02:14] oldmanpushcart commented on #164
- 如果是非正常退出，增强的代码是不会清除的；
- 正常的操作是执行`reset`+`quit`命令
- `shutdown` = `reset` + `quit`

[2016-12-16 07:29] #163 closed

[2016-12-16 07:29] #162 closed

[2016-12-16 07:57] zhenchuan commented on #164
@oldmanpushcart ,多谢,
但是我怎么处理这种异常问题呢? 重启应用?

[2016-12-17 13:54] oldmanpushcart commented on #164
重新连接一次greys，执行`reset`或者`shutdown`命令即可

[2016-12-19 00:02] zhenchuan commented on #164
多谢啦,

[2016-12-19 00:02] #164 closed

[2016-12-19 02:01] groofnish opened #165 "说好的2.0呢"
年底啦，说好的2.0呢

[2016-12-19 07:54] gcxtx commented on #165
年底啦，说好的2.0呢

[2016-12-19 10:04] cyberdak commented on #159
能想到最标准的方式就是采用 class 文件里面的入参格式来做就行了.

I[JB 就是代表 (int[] ,long ,byte)

[2016-12-21 11:30] oldmanpushcart commented on #159
`I[JB`很明显，这个要被吐槽死的节奏，哈哈

[2016-12-21 11:32] oldmanpushcart commented on #165
哦，内核部分已经重写完成了，正在交给公司内部测试中呢（话说他们可能还不知道我将会基于这个新内核重写GREYS）

[2017-01-05 02:32] fudy opened #167 "greys not found, please check your network."
通过本地安装的方式，执行
sh ./install-local.sh
安装成功
执行命令:
sudo -u admin -H ./greys.sh 197918
报错:
greys not found, please check your network.

本机访问不了网络

[2017-01-05 03:33] oldmanpushcart commented on #167
`admin`用户，看来是阿里的人...钉钉找我...

[2017-01-06 08:14] mwei83 opened #168 "能否统计某个方法的占用cpu情况"
感谢，刚利用greys排查了一个问题。请问下，能否统计某个方法的占用cpu情况

[2017-01-06 09:10] oldmanpushcart commented on #168
HI，

首先呢，我不打算利用greys定位性能问题，因为有比greys更专业的工具，比如jprofiler，命令行的有perfj。

其次，greys的确也做不准这件事哈。

greys的核心定位是帮助JAVA程序员去定位线上业务的疑难杂症，并不用来通用性的解决性能问题。

[2017-01-06 09:10] oldmanpushcart commented on #168
HI，

首先呢，我不打算利用greys定位性能问题，因为有比greys更专业的工具，比如jprofiler，命令行的有perfj。

其次，greys的确也做不准这件事哈。

greys的核心定位是帮助JAVA程序员去定位线上业务的疑难杂症，并不用来通用性的解决性能问题。

[2017-01-12 05:26] gcxtx opened #169 "如何获取tomcat中Request、Response对象"
之前提过一个问题“如何获取到tomcat的Request对象”，由于advice.target和greys-core不是一个classloader所以强转的时候会报错。尝试了很多办法，但总是不成功。现在有个需求就是要获取到tomcat里边的Request、Response对象，各位大牛有没有办法可以获取到呢。感激不尽！
自己写了段代码如下所示：

 if(advice.getClazz().getName().equals("org.apache.catalina.connector.Request")&&advice.getMethod().getName().equals("getParameterValues")) {
                                            Request request = (Request)advice.targe

[2017-01-13 15:17] oldmanpushcart commented on #169
这个`Request`是不能直接这样强转的，因为它们的ClassLoader不一样，你只能通过反射的方式来调用他

[2017-01-13 15:38] #168 closed

[2017-01-13 15:38] #167 closed

[2017-01-14 14:07] gcxtx commented on #169
多谢啦，已经搞定了。

[2017-01-14 15:50] gcxtx commented on #169
以为搞定了，结果并没有。。
我重写了spy()这个函数，代码如下：
 public static Class<?> spyClassToClassloader(final ClassLoader targetClassLoader, String spyClassName)
            throws IOException, NoSuchMethodException, IllegalAccessException, InvocationTargetException {
        // 如果对方是bootstrap就算了
        if (null == targetClassLoader) {
            return null;
        }
        // Enhancer类只可能从greysClassLoader中加载

[2017-01-17 05:34] oldmanpushcart commented on #169
能把你的这部分代码邮件发送给我么？<oldmanpushcart@gmail.com>，或者如果你觉得需要实时沟通，也可以添加我的微博<http://weibo.com/vlinux>私信我

[2017-01-17 06:59] suxiaoyong opened #170 "用greys monitor或trace时，经常会把主进程搞挂"
A fatal error has been detected by the Java Runtime Environment:

  SIGSEGV (0xb) at pc=0x00007f1300004050, pid=32738, tid=139706833803008

 JRE version: Java(TM) SE Runtime Environment (8.0_31-b13) (build 1.8.0_31-b13)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (25.31-b07 mixed mode linux-amd64 compressed oops)
 Problematic frame:
 C  0x00007f1300004050

[2017-01-18 07:54] oldmanpushcart commented on #170
哇哈，首先表示抱歉，不过能把JVM击溃的情况我还的确很少见，一般是JVM自身的BUG引起。因为JVM有非常强的鲁棒性。

你的错误勾起了我的好奇，能否提供下以下信息

1. `greys`版本

    可以通过`version`命令获取

1. 执行的命令，最关键的我希望能看到(`c-cnt`和`m-cnt`)

1. greys的`monitor`命令执行之后，JVM的表现是立即崩溃还是坚持了一段时间才崩溃。如果是后者，我希望能看到此时GC的情况`jstat -gccause PID 1000`

[2017-01-18 10:13] suxiaoyong commented on #170
1. greys 版本：  1.7.6.4

2. 执行的命令：
[code]
3. 执行命令后，过了一段时间jvm崩溃，jvm崩溃时greys已经退出，感觉跟具体的命令关系不大。

4. coredump确实不方便提供，抱歉。

我试着换个jvm版本试试。

另外我们的代码都经过aspectj加强，这个是否会有影响。

[2017-01-22 03:11] oldmanpushcart commented on #170
崩溃的`error_msg`能给我下么？

[2017-01-22 07:37] fudy opened #171 "支持json打印params或returnObj吗？"
如题，-x太不友好了，能用json格式打印出来吗？

[2017-01-24 13:08] oldmanpushcart commented on #171
可以的，执行隐藏命令

[code]

这样你所有的输出都是JSON格式，执行`options`命令你可以看到更多的隐藏调试选项

[2017-02-06 17:30] odd2008 commented on #128
@muyuqiu001  非常感谢,使用agent是可以的
我最后还是使用了btrace

[2017-02-06 17:34] odd2008 opened #172 "以后是否会支持局部变量"
这个工作非常不错，不过对于线上诊断时，有时因为一些原因。
比如：IDEA工具需要单独安装，生产环境是安全桌面之类的同时使用eclipse默认的远程debug太慢了，很多时候，访问网络这些没有问题，使用eclipse默认的远程debug过了vpn之后太慢。
所以想请问您是否在后期考虑支持局部变量的查看？？
时间大概会在哪个周期？
谢谢。

[2017-02-07 09:44] oldmanpushcart commented on #128
@odd2008 等阿里内部的一个框架开源了，你的愿望就能实现了，目前我的greys2.0也是基于这个框架进行开发。

[2017-02-07 09:46] oldmanpushcart commented on #172
局部变量可以是可以，但我至今没有想好一个好的交互方式，太难了。你有什么好的建议？或者你期望中局部变量的交互方式应该是怎样的？

[2017-02-07 09:46] #171 closed

[2017-02-07 11:01] odd2008 commented on #172
我目前想的是很简单的，指定好具体类的之后和行号
就把当前的行的局部变量的值在输出出来
对于一行里面有多条语句的，则把所有的赋值语句的变量显示出来。

[2017-02-07 11:17] fudy opened #173 "watch命令支持json展示吗？"
好像问过类似问题，issue里找不到了，再问次，如题

[2017-02-07 18:17] oldmanpushcart commented on #172
@odd2008 明白了，有点类似IDEA在DEBUG时候的提示

[2017-02-08 03:56] oldmanpushcart commented on #173
#171 可以看下这个哦

[2017-02-08 06:11] fudy commented on #173
赞，就是要这个

[2017-02-11 09:20] #173 closed

[2017-02-14 10:14] chinamcafee opened #174 "入参时有多个对象，想让每个对象分别按层级展开，可以做到吗？"
watch -b com.xxx.yyy calculate params[0] -x 1  是可行的，但是如果入参有多个，请问如何写命令？

[2017-02-15 09:29] tcgdy0201 commented on #165
等啊等

[2017-02-20 05:18] oldmanpushcart commented on #174
试试
`watch -b com.xxx.yyy calculate params -x 1`

[2017-02-20 09:25] liboyue23 opened #175 "启动报错"
#./greys.sh 14706
new version(1.7.6.4) detection, update now...
######################################################################## 100.0%
Archive:  /root/.greys/lib/temp_1.7.6.4_14994/greys-1.7.6.4-bin.zip
   creating: /root/.greys/lib/temp_1.7.6.4_14994/greys/
  inflating: /root/.greys/lib/temp_1.7.6.4_14994/greys/ga.sh
  inflating: /root/.greys/lib/temp_1.7.6.4_14994/greys/greys-agent.jar

[2017-02-20 10:59] oldmanpushcart commented on #175
HI 看看这个[FAQ](https://github.com/oldmanpushcart/greys-anatomy/wiki/FAQ)是否能帮助到你呢？

[2017-02-22 07:13] chinamcafee commented on #174
多谢多谢，另外请问2.0的进度如何了？方便透露一下吗

[2017-02-23 07:12] oldmanpushcart opened #177 "关于GREYS2.0的进度"
在GREYS2.0中，我曾经承诺能把这快协议开放出来，这个承诺没有变化。目前当前的ROADMAP如下

1. 2017年06月完成新内核的研发
2. 2017年12月完成基于新内核的全部重构
3. 2018年初RELEASE

当前卡在了新内核的研发上，我将GREYS的内核进行抽取和重构，希望能有更多基于动态AOP形态的产品能从这个内核上孵化出来。可以想象到的比如：代码覆盖率、基于方法流控、动态日志、流量录制回放、异常模拟等产品都可以基于这个内核完成。

这个内核目前API还在趋于稳定过程中，而且还需要受限于阿里巴巴开源开源软件申请的进度。

[2017-02-23 07:12] oldmanpushcart commented on #174
#177 在这里我统一回答好了

[2017-02-23 16:06] Jdoing opened #178 "greys不支持openJDK吗"
在java-1.7.0-openjdk-1.7.0.65.x86_64中，报如下错误
start greys failed, because : Unable to open socket file: target process not responding or HotSpot VM not loaded
attach to target jvm(26021) failed.

[2017-02-24 04:15] chinamcafee commented on #174
辛苦了，您的工具为我们帮助良多，小小打赏，不成敬意~

[2017-02-25 01:34] Jdoing commented on #178
好像是JAVA_HOME设置不对导致的

[2017-02-25 03:17] #178 closed

[2017-02-27 14:44] ccqy66 opened #179 "如何权衡一个类的加载是使用应用的ClassLoader还是AgentClassLoader"
最近在研究greys的代码。有一点不是很理解：
1.为什么要把greys-agent添加到BootstrapClassLoader,也就说下面的代码是什么作用：
 // 将Spy添加到BootstrapClassLoader
            inst.appendToBootstrapClassLoaderSearch(
                    new JarFile(AgentLauncher.class.getProtectionDomain().getCodeSource().getLocation().getFile())
            );
2.使用应用的ClassLoader加载greys中的类，能给我的应用带来怎样的问题？

非常感谢能够回答我的问题

[2017-02-28 01:42] oldmanpushcart commented on #179
1. `greys-agent`添加到BootstrapClassLoader，是为了实现unsafe功能打开之后，你能用greys去观察JDK自带的类功能需要。比如`java.lang.String`、`java.io.PrintWriter`等。这些类是被BootstrapClassLoader所负责加载。

1. 使用应用的ClassLoader加载greys中的类

    这个理解是错误的，应用的ClassLoader和`AgentClassLoader`是相互隔离的，互相之间的类不会冲突和干扰

另外就是这个标题和内容，我没对应上哈。

[2017-02-28 06:47] ccqy66 commented on #179
"greys去观察JDK自带的类功能需要"这一句不是很理解，恳请解惑

[2017-02-28 14:20] oldmanpushcart commented on #179
就是你能用greys去拦截、窥探来自BootstrapClassLoader所加载的类

[2017-03-01 01:43] alwinlin23 opened #180 "oss token 失效"
操作日期: 2017年03月01日

![image](https://cloud.githubusercontent.com/assets/2699243/23442321/af866048-fe62-11e6-8f5b-43aa2852a9eb.png)

[2017-03-01 09:34] oldmanpushcart commented on #180
奇怪，能用呀，你用浏览器应该能直接打开[http://ompc.oss.aliyuncs.com/greys/install.sh](http://ompc.oss.aliyuncs.com/greys/install.sh)这个链接

[2017-03-01 11:59] alwinlin23 commented on #180
我刚才试了下,是可以的... issue closed 😂

[2017-03-01 11:59] #180 closed

[2017-03-02 07:44] jintianfan commented on #177
值得期待

[2017-03-03 04:42] #179 closed

[2017-03-09 07:29] Michael2008S opened #181 "关于develop-2.0编译问题"
Failure to find com.alibaba.jvm.sandbox:sandbox-api:jar:1.0.4
[code]

[2017-03-09 13:32] oldmanpushcart commented on #181
啊哈，GREYS2.0的内核是基于阿里尚未完成开源的一个二方包来实现的。所以你们编译不过去，开源后就可以了，再等等，嗯嗯

[2017-03-10 12:14] liyuankui opened #182 "无法查看用Intellij IDEA启动的应用。"
应用启动后，用greys连接到jvm里，但只能看到Intellij本身的信息。

[2017-03-11 04:43] oldmanpushcart commented on #182
IDEA会为这个应用单独开一个JVM进程，你是不是连接到了IDEA自身的进程去了？

[2017-03-13 02:51] ccqy66 commented on #172
这个提议很好，不知道实现上可行吗？有几个问题不知道可以解决不？
1.如果知道第几行有多少个变量，变量是什么？
2.如何确定变量在操作数栈的位置？
想了一种比较简单的方法，我想知道第n行的变量var1，那么就在第n+1行回调我的方法，把var1传出来。
但是目前找不到方法可以在原字节上任一行添加一行字节码？不知道作者是怎么想的？

[2017-03-13 03:01] michaelssss commented on #172
类似idea的watcher那种功能，能够设定变量名，然后遇上了就回调特殊方法。这种操作我觉得很自然

[2017-03-13 03:07] ccqy66 commented on #172
这种方法理解上来说是可行的，但是到具体实现上有几个我目前没有办法想到的问题，也想请教一下：
1.“然后遇上了就回调特殊方法”，怎么算是遇到？
2.怎么定位到这个局部变量？

[2017-03-13 08:33] whitelilis opened #183 "卡住的进程可以查看调用的参数吗?"
对于重复调用的函数, 可以查看每次调用的参数或其它值.
对于卡住的进程, 它不动了, 有办法看到它正在调用的函数的参数吗?
比如下面这个卡住了, 怎么看    te 这个函数的入参?

"main" #1 prio=5 os_prio=31 tid=0x00007fcf3a80b000 nid=0x1703 waiting on condition [0x0000700000219000]
   java.lang.Thread.State: TIMED_WAITING (sleeping)
	at java.lang.Thread.sleep(Native Method)
	at SleepTest.te(SleepTest.java:3)
	at SleepTest.main(SleepTest.java:7)

[2017-03-13 10:58] oldmanpushcart commented on #172
这个不难，难得的我想弄明白你们要这个做什么？

[2017-03-13 12:21] oldmanpushcart commented on #183
这个真不行，GREYS是要基于调用触发才能工作，DEBUG也是一样的原理。如果你真想看到挂起的线程中特定方法的入参，可以选择用jmap来dump当时内存的快照，反正也卡住了不是？

[2017-03-14 07:38] whitelilis commented on #183
dump 出来能看到各种对象的个数和内存占用, 怎么看 入参 呢?

[2017-03-14 13:06] liyuankui commented on #182
不好意思，是类似问题。

[2017-03-14 13:06] #182 closed

[2017-03-15 00:20] oldmanpushcart commented on #183
ECLIPSE有个不错的工具叫mat，可以百度下哦

[2017-03-15 07:17] Lihuanghe commented on #183
卡住的可以用jstack看线程调用栈啊

[2017-03-17 07:33] whitelilis opened #184 "tt 命令的 -x 参数不起作用"
比如我用  tt -t -x 3 -n 1 -w params[2]  org.apache.hadoop.hdfs.protocolPB.DatanodeProtocolClientSideTranslatorPB blockReceivedAndDeleted
得到的结果为
  PARAMETERS[2] | [Lorg.apache.hadoop.hdfs.server.protocol.StorageReceivedDeletedBlocks;@19ff4878

这是一个没有展开的结果.

而用 watch -x 3 -n 1 org.apache.hadoop.hdfs.protocolPB.DatanodeProtocolClientSideTranslatorPB blockReceivedAndDeleted params[2]
得到的结果是
@StorageReceiv

[2017-03-17 07:34] whitelilis commented on #184
自己试出来用法了,  原来 -x 是在 -i 查看时用的....

[2017-03-17 07:35] whitelilis commented on #184
不过还是想知道 btrace 怎么实现这样的功能, btrace 和 greys 之间切来切去, 好烦....

[2017-03-17 08:43] whitelilis opened #185 "bug: tt 命令记录数超过 1700 后, 后面的会不可以见"
不使用 -n 参数,  当记录数超过 1700 之后, ctrl-D,   tt -l, 只看到  1300+ 个记录, 也就是说, 后面的记录都没有了.......

[2017-03-17 09:42] whitelilis commented on #184
或者希望可以增加这样一个功能:
当执行到某个类某一行时,  执行  jstackAll(), 或者查看 local 变量, 或者查看函数相关的数据( advice 数据)

[2017-03-17 12:19] oldmanpushcart commented on #113
有进展么，同学

[2017-03-17 12:22] oldmanpushcart commented on #138
确认不是BUG是feature，我close了

[2017-03-17 12:23] #181 closed

[2017-03-17 12:23] #174 closed

[2017-03-17 13:31] oldmanpushcart commented on #184
等2.0吧，2.0的内核可以感知到行调用，其实在现在的greys中也能做到，但就看这件事的必要性。

如果你想看某一行的jstack，是否可以通过watch下一级调用的方法来实现。

我进行过很多年的线上问题定位，很少有场景是需要通过行来定位问题的。

[2017-03-17 13:39] oldmanpushcart commented on #185
在现有的GREYS中，tt命令是没有限制记录的数量的。你看到的应该是你的终端限制现实行数限制，实际上是真记录了1700+

要不你再核对下？

[2017-03-18 06:55] whitelilis commented on #183
@Lihuanghe   我是想看 入参,  jstack 中是没有的

[2017-03-18 07:00] whitelilis commented on #184
感谢 @oldmanpushcart  ,   其实主要是用在分布式多线程的场景中, 有一些 interruptable lock, 中间做的事情太多, 有可能被其它线程打断, 而中间的函数调用, 出现的位置又特别多, 所以非常想知道, 执行到某一行时, 系统都在做什么,  特别是有没有其它线程会等待相应的锁, 这时用 行号就特别简单. 而平时用 debugger 的话, 主要也就是在某一行看当时的 local 变量和一些复杂的对象的内容

[2017-03-18 09:38] whitelilis commented on #185
1, 实际上真是记录了 1700+
2, tt -l 确实显示不了那么多
3, tt -i 是可以看到特定记录的
4, 我调整了历史缓冲,  还是一样的,  tt -l  只能显示到    1067, 而实际上, 记录了 2078 条.

[2017-03-18 10:59] oldmanpushcart commented on #184
嗯，不过我现在精力在完善GREYS2.0的内核上，估计得比较长的时间才能支持上这个功能。

你是否可以尝试PULL一个PATCH给我

[2017-03-18 11:01] oldmanpushcart commented on #183
的确，这个方法执行过了，这个入参的对象很可能已经被GC，谁任何工具事后都不能保证100%能看到了。

除非实现在目标方法上打点

[2017-03-18 11:03] oldmanpushcart commented on #185
-l只能到1067？真是个奇怪的数字，我有空试试

[2017-03-19 01:56] oldmanpushcart commented on #185
亲，我亲测，在MAC的终端下，4000多个都是可以的哦

[2017-03-19 04:15] zhenghongfei commented on #183
这种情况应该是看不到入参了：jstack、jmap、mat都不行。

[2017-03-20 05:46] odd2008 commented on #172
@oldmanpushcart  正如我上述的原因：
1.IDEA工具需要单独安装麻烦
2.生产环境在堡垒机后面，需要做debug，idea无法直接debug
3.idea可以通过网络连接上目标程序，但由于网络原因实在太慢

[2017-03-20 14:31] oldmanpushcart commented on #172
@odd2008 如果真的需要做这种debug，而且不怕阻塞线上业务的话，可以用jdb命令

[2017-03-22 03:34] wangjia2016 opened #186 "建议大神搞个图形界面，或者是web在线形式的图形界面"
建议大神搞个图形界面，或者是web在线形式的图形界面

方便运维人员使用，哈哈 这样就无敌了。

[2017-03-22 09:51] oldmanpushcart commented on #186
这个在2.0的规划中是通过开放协议的方式来支持。如果要做WEB端，需要牵扯网络隔离和集群注册的问题，这个只能是每个具体使用的场景自己去决策使用方式。

我还不如放开

[2017-03-25 13:45] vivisidea commented on #183
jmap dump 出来用 mat 进行线程分析可以看到参数的，之前有试过

[2017-03-25 18:22] oldmanpushcart commented on #183
不能100%保证，如果这个方法已经被执行过了（不在堆栈路径中），同时正好一个GC，你就看不到了。我只能说概率你能看到

[2017-03-29 03:23] muyuqiu001 commented on #113
@oldmanpushcart 最近没搞这个了，就没有跟着。。要不先关了吧

[2017-03-29 06:06] #113 closed

[2017-03-29 06:07] #186 closed

[2017-03-29 06:07] #185 closed

[2017-03-29 06:07] #184 closed

[2017-03-29 06:07] #183 closed

[2017-03-29 06:07] #175 closed

[2017-03-29 06:07] #170 closed

[2017-03-29 06:08] #169 closed

[2017-03-29 06:10] oldmanpushcart commented on #151
MD，看代码没有想明白，没有找到原因...先CLOSE了，下次遇到我REOPEN

[2017-03-29 06:10] #151 closed

[2017-03-29 06:10] oldmanpushcart commented on #105
丢到2.0中实现掉 #177

[2017-03-29 06:10] #105 closed

[2017-03-29 06:11] #159 closed

[2017-03-29 06:11] #161 closed

[2017-03-29 07:18] oldmanpushcart commented on #128
#177 在2.0中支持掉

[2017-03-29 07:18] #128 closed

[2017-03-29 07:18] #138 closed

[2017-04-01 08:22] chinamcafee opened #187 "运行在诸如Jetty容器内的Web项目无法监控？"
debug一个Jetty容器内的Web项目，各个Controller的方法用greys完全找不到，是什么原因呢？

[2017-04-01 15:26] oldmanpushcart commented on #187
这个是不可能滴，我经常跟踪jetty的web项目哈

[2017-04-25 03:56] orclight opened #188 "trace命令突然失效(同样的参数)"
trace xx..xx..xx.className methodName

问题描述: 有2个问题
1.用greys的trace命令监控测试环境的方法执行，刚开始可以，后边突然就不行了。
2.测试环境开多个greys，greys trace命令能识别其他进程的的方法，不能识别自己进程的方法

前几次：
Affect(class-cnt:1 , method-cnt:1) cost in 63 ms.

最近一次：
Affect(class-cnt:0 , method-cnt:1) cost in 32 ms.

[2017-04-28 07:16] oldmanpushcart commented on #188
1. trace命令对代码膨胀会比较厉害，所以多用几次就会让JVM抛出Code Too Large的异常，所以你可以用reset命令进行清理

1. trace命令能匹配其他进程的方法？这个没看明白，希望能得到更明确的描述

[2017-04-28 11:16] HadesJK opened #189 "命令无法执行"
刚开始能执行的，不知道为啥，后来一直报命令执行失败，请看：

ga?>watch -b com.xx.xxx.xxxx saveGoodsEdit params[0]
Command execution failed. cause : class redefinition failed: attempted to delete a method

[2017-04-28 17:24] oldmanpushcart commented on #189
这个是GREYS1.x架构的一个坑，因为GREYS会主动缓存住上次修改类的字节码内容，而我一开始设计的时候天真的认为所有类不会再进行改变。

但很明显，在遇到一些AOP类时，有可能会出现这些类被删除方法的尴尬情况。而JVM规定redefine类时候不允许出现方法被删除，所以会造成这个错误。

- 短期解决方案：遇到这种错误，执行`reset`命令，还原GREYS之前增强的类。
- 长期解决方案：在GREYS2.x版本之后（尚在开发内核），这个问题将会被彻底修复

[2017-04-29 00:07] orclight commented on #188
在一台linux服务器(centsos 6)，部署了多个Java进程(业务不一样)；用greys连接其中一个进程，

[2017-04-29 00:16] oldmanpushcart commented on #188
不同进程下用端口号进行区分，所以你需要换个端口号。

[code]

[2017-04-29 00:17] orclight commented on #188
端口加了，没有犯这个低级错误

[2017-04-30 05:41] oldmanpushcart commented on #188
- 就看你是怎么退出的，如果是`quit`命令或者`CTRL_C`退出，目标JVM的3658端口是不会主动关闭的，直到你执行了`shutdown`命令为止。

- 目前是没有临时文件这个说法，只有历史命令用到了一个临时文件。

- 如果不确定，你可以用`jvm`命令来核对你是否greys对了正确的JVM进程

[2017-05-13 14:02] codeongit opened #190 "JavaScriptSupport对应文档错误"
案例脚本
https://github.com/oldmanpushcart/greys-anatomy/wiki/JavaScriptSupport
logger.js
中的context 应该取不到了，我还看了半天为什么跑的结果不一样。
我看了下代码应该改过了，但是文档没有更新。
还有顺便问下 如果returnObj 是个对象怎么处理。也打印不出来。
尝试用引入json3 的stringify方法好像没作用。

[2017-05-13 17:00] oldmanpushcart commented on #190
多谢指正，的确有过时的问题。另外json的确处理不了那个特殊的js对象，我想想办法

[2017-06-08 13:14] l1xiao opened #191 "启动时报拒绝链接异常"
尝试在生产环境使用，但是启动的时候报了如下异常。使用的是Java8，CentOS6，请问该如何解决这个问题呢？
[user@host greys]$ ./greys.sh 2857@127.0.0.1:8081
Exception in thread "main" java.net.ConnectException: 拒绝连接
        at java.net.PlainSocketImpl.socketConnect(Native Method)
        at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:339)
        at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketIm

[2017-06-08 16:37] oldmanpushcart commented on #191
`8081`端口比较特殊，TOMCAT很喜欢使用，我不确定这个端口是否已经被占用了。尝试用

[code]

能否访问呢？

[2017-06-22 11:09] l1xiao commented on #191
感谢你的回复，确实是这个问题

[2017-06-22 11:09] #191 closed

[2017-06-23 08:16] #172 closed

[2017-06-23 08:17] #189 closed

[2017-06-23 08:17] #187 closed

[2017-06-25 09:33] pengpan opened #192 "web控制台在开发了吗"
想问下楼主，说好的web端在开发了吗

[2017-06-28 14:19] EdwardLee03 commented on #191
脚本如果能检测到端口被占用并提示，岂不是更好。 @oldmanpushcart

[2017-06-29 03:43] oldmanpushcart commented on #191
其实是可以的，我在新的内核中也实现了这个解决方案。能做到用户不需要感知到JVM进程号和端口号的绑定关系。

但苦于没有时间去把功能在GREYS老版本上也重新实现一次，所以，先忍着。

[2017-06-29 03:43] oldmanpushcart commented on #192
没有，也没有计划开发WEB端呢～

[2017-07-02 03:59] windywang opened #193 "请问下greys进度"
请问下作者，现在greys处于什么进度，因为本人非常喜欢这款作品，看到好久没有更新，如果作者工作比较忙，是否能借助团体力量，譬如牵头在网上召集志同道合的人一起来做。还有很希望能有一个统一的web入口可以查看

[2017-07-03 05:30] oldmanpushcart commented on #193
非常感谢您的热情关注和肯定。GREYS目前足够满足需求而且也没有什么明显的BUG，所以保持一个稳定的发布版本，暂不做过多的改变。做多错多嘛。

一些细微的优化，比如 #146 、 #160 、 #190 、 #191 等几个issue，目前暂不影响主流程的正常使用，所以我也先暂时靠后。

我比较担心的是GREYS自身内核架构设计的缺陷。当前已经知道的缺陷有两个

1. GREYS无法和其他采用了`ClassFileTransformer`的框架正常协作。

2. UI渲染和业务流程处理混淆，不利于扩展。

所以这段时间我都在想办法重构GREYS这款软件，想重新对他的功能进行一次定位。具体节奏可以参考 #177 ，当前已经完成内核的研发，这个内核是必须从阿里内部开源出来的，否则GREYS无法继续进行开源的研发。但走开源流程好慢好慢啊。

[2017-07-03 05:39] oldmanpushcart commented on #193
这款软件之所以开源，目的其实有三个

1. 让使用者放心

    这个工具如果要进行排查问题，最终是要以一个非常高的权限跑在业务JVM上的。意味着他将会接管这个JVM进程所有的权限，能看到你DB的账号密码（如果你没做妥善处理的话），甚至能操作JVM／OS的在当前帐号下的所有行为。

    这么敏感的软件如果不开源，相信很多地方也不敢给你进行使用。所以开源所有代码也是希望使用者能放心。

1. 向同行业的兄弟产品分享我在这个领域的思考、设计和实现方式。

    诚然，我也不会是第一个想到这么去做的人。在我之前有BTrace、HouseMD两个产品都在往这个方向努力。我在设计这款软件的时候也从这两位前辈中得到了很多知识点。喝水不忘挖井人，我希望能将这份知识分享传承下去，做更多更好的工具，造福更多的Javaer。

1. 孵化更多的类似产品

    在阿里内部已经开始有技术产品是对标GR

[2017-07-04 15:33] pengpan commented on #165
重写后与重写前有哪些区别哈？ 能先爆下料麽

[2017-07-05 06:09] EdwardLee03 commented on #191
辛苦，excellent 👍

[2017-07-05 14:33] atonce commented on #113
我这边发现在was的启动参数配置了这个后就可以正常使用trace tt 等命令,不在报上面的错误
-Dwas.debug.mode=true

[2017-07-07 08:53] wangchangshuai opened #194 "使用greys导致应用fullgc频率飙升（每秒一个）"
<html>
<body>
<p>
使用greys多次（最后一次使用tt命令拦截大量方法）后发生应用卡死现象，使用jstat发现应用fullgc频率非常高。
使用jhat分析发现：<font><color=red><b>com.github.ompc.greys.core.Advice@0x714459ad0 (85 bytes)和com.github.ompc.greys.core.Advice$1@0x723dd0660 (41 bytes)</color></b></font>这两个类分别有16万个对象，总计32w，明显是这个对象创建的太多了，并且一直被引用着，不释放，最后导致内存溢出；
</p>
<pre>
jstat -gcutil 23609 1000
  S0     S1     E      O      M     CCS    YGC     YGCT    FGC

[2017-07-10 01:16] oldmanpushcart commented on #194
从jmap的输出来看，你应该是用了tt命令。tt命令会把方法的输入和输出都记录到内存中，如果任凭他记录下去，内存会耗尽。所以

1. 确保tt命令不要持有过多的记录
2. 用完之后请执行`tt -D`命令清理tt的记录

[2017-07-10 02:48] wangchangshuai commented on #194
但是有个问题，我greys控制台已经退出了，为什么还在tt还在执行呢？

[2017-07-10 05:42] oldmanpushcart commented on #194
你是不是用`CTRL+Z`停止的？

[2017-07-10 06:28] wangchangshuai commented on #194
明白了，是ctrl+z。还有一个问题，有没有设计文档，比如软件的包说明，简单架构说明等

[2017-07-10 08:51] oldmanpushcart commented on #194
这个项目是我个人业余时间写的，暂时还没那么完善的设计文档哦，非常抱歉～

[2017-07-10 15:57] #194 closed

[2017-07-10 15:57] #192 closed

[2017-07-10 15:57] #193 closed

[2017-07-28 03:11] lawulu commented on #188
这个应该写到FAQ里面啊。。

[2017-08-01 09:11] ougyou opened #195 "tt 监听method及其子method的stack"
tt只能监听到从底层到当前方法的堆栈及其出入参数
但如何监听整个方法链的堆栈信息呢，因为有的业务无法多次执行，
但是后续判断逻辑复杂，这样就没法去tt后面的动作。

想了下描述的是有问题的，其实是想知道tt listen的方法下的
方法代码的执行过程。

[2017-08-07 03:19] oldmanpushcart commented on #195
首先抱歉下哈，最近工作有点小忙，很多问题答复都不及时了。
你的这个问题解法是这样的

1. `tt -p`

    `tt`命令是有重放功能的，利用这个功能你可以在另外一个终端中来回切换你真正想`tt`的细节。当然了，这样的排查手段适合于“可重复读”的场景。

2. `ptrace -t`

    如果想一次性跟踪到一次调用核心链路上不同节点的`tt`信息，可以用这个命令。这个命令中所记录的内容是和`tt`命令打通的。

    具体用法也可以看帮助文档哈[ptrace命令](https://github.com/oldmanpushcart/greys-anatomy/wiki/greys-pdf#ptrace命令)

[2017-08-16 13:08] yukaizhao commented on #120
问题还没有修复吗？

[2017-08-17 01:41] oldmanpushcart commented on #120
在本地的分支上，原本想搭车发布的，但这个分支难产就耽搁了。你急需这个功能的话我周末就发布测试修复掉，不急需我就再等等哈。

[2017-08-22 01:57] whitelilis opened #196 "greys 可以支持 agent 方式+命令启动吗？"
greys 确实好用，但是有些应该一启动很快就结束了，有没有办法像 btrace 那样，直接在启动时加载 greys 和一个命令进去呢？

[2017-08-23 03:10] whitelilis opened #197 "greys 会搞错 java pid"
是个 bug 吗？
我用 greys 看两个不同的进程，它好像 attach 到了同一个进程上，而不是我想看的那个进程。
![default](https://user-images.githubusercontent.com/1090230/29597210-b02a8824-87f3-11e7-8b65-7d6fda608bf6.png)

[2017-08-25 08:15] AnyinSong opened #198 "【建议】希望grays能在方法的执行消耗上统计到行"
有幸知道了grays，让我查找调用链里的耗时点变的相对容易，但美中不足的是对于一个方法内部的耗时统计是基于下一层的调用，这种方式有如下不足：

            +---+[13,9ms]org.apache.cxf.jaxrs.client.AbstractClient:doRunInterceptorChain()
            |   +---[5,1ms]org.apache.cxf.jaxrs.client.AbstractClient:writeBody()
            |   `---[13,1ms]org.apache.cxf.jaxrs.client.AbstractClient:setupInInterceptorChain()
            +---+[13,0ms]org.apache.cxf.jaxrs.client.Abst

[2017-08-25 10:28] AnyinSong opened #199 "【疑问】同一个方法的不同统计维度耗时差异很大"
### 操作背景

同一个节点上同时开了两个grays客户端针对同一次调用进行耗时统计，1个统计目标方法耗时，另一个统计目标方法上一层的调用耗时，
目标方法为org.apache.cxf.jaxrs.client.AbstractClient#doRunInterceptorChain
### 统计信息
1.直接统计目标方法（14ms）
[code]
2.从目标方法的调用栈上一层统计(33ms)
[code]
### 其他差异点说明
此处贴的统计信息中直接统计方法时加了--path，基于调用链上一层的调用没有加此参数，但在都不加此参数时结果也是类似的

[2017-08-25 13:55] oldmanpushcart commented on #196
抱歉，这样改动比较大，暂时我还没精力去支持

[2017-08-25 13:58] oldmanpushcart commented on #197
嗯，这个是greys的特性，你可以用不同的端口号完成不同的pid映射。有技术方案可以做到用户无感，改动也比较晚小。不过目前经济学有限而且不阻碍使用，所以先用端口号的方式完成隔离吧，哈哈

[2017-08-25 14:00] oldmanpushcart commented on #198
嗯，这个猜测你可能遇到了同步块或者锁。所以把时间吃了，当然也可能是gc的原因。这块确实可以优化掉，思路有的，但真心没有时间

[2017-08-25 14:08] oldmanpushcart commented on #199
greys的定位是定位业务问题，对性能损耗抠得不是太细。所以这些偏差有可能是被ptrace命令的开销吃了。ptrace命令确实吃资源。目前没有精力去抠这个技术点哈

[2017-08-25 15:34] AnyinSong commented on #199
嗯，这个确实应该是ptrace自己开销掉了，因为后来我又加了一个出现频率很高的path然后此方法的耗时一下翻了4倍，不过这个对于排查耗时点没有多大影响

[2017-08-28 03:32] whitelilis opened #200 "ptrace 的使用方法和例子不符合"
突然感觉不会用 ptrace 了
usage 和 example 不符合，测试也不知道哪种是起作用的，都是卡住不动。

[2017-08-30 10:57] oldmanpushcart commented on #200
能给我看看你是怎么使用的么？如果方便能给我看到你的输入和输出比较好哈

[2017-09-04 09:56] zhenglincheng opened #202 "greys 无法监听 package java.io 的资源情况？"
项目需要跟踪到jdk package 的一些资源情况，发现无法追踪到java.io 包

[2017-09-05 07:29] AnyinSong commented on #202
@zhenglincheng

https://github.com/oldmanpushcart/greys-anatomy/wiki/greys-pdf

### JDK类支持

JDK的类默认由BootstrapClassLoader负责加载，由于Greys自己也适用了大量的JDK类，所以我不建议使用Greys直接对JDK相关类进行增强、代理。

默认而言，Greys会拒绝执行关于JDK类的操作命令。你需显式用options命令打开。

[code]

[2017-09-05 07:52] AnyinSong opened #203 "greys的启动命令应该支持传入用户名和密码"
当前启动命令只支持指定ip:port不支持传入用户名和密码，导致跨节点观测java进程功能可用性很低

[2017-09-05 09:03] zhenglincheng commented on #202
Tks

[2017-09-05 09:53] oldmanpushcart commented on #203
你是说安全性是吧

[2017-09-06 02:18] AnyinSong commented on #203
NoNo，提出的初衷和安全没啥关系，而是因为目前我所在的环境情况是开发、生产所有节点都是有用户名和密码的，我想其他地方应该也是类似的，不要用户名和密码就能远程连接的节点应该很少吧，除非做了互信。 @oldmanpushcart

[2017-09-06 02:52] ketao1989 opened #204 "版本1|.|7|.|6|.|4 使用ptrace 的path功能报错"
____  ____ _____ _   _  ___ _____ _____ ____  _____ _| |_ ___  ____  _   _
 / _  |/ ___) ___ | | | |/___|_____|____ |  _ \(____ (_   _) _ \|    \| | | |
( (_| | |   | ____| |_| |___ |     / ___ | | | / ___ | | || |_| | | | | |_| |
 \___ |_|   |_____)\__  (___/      \_____|_| |_\_____|  \__)___/|_|_|_|\__  |
(_____|           (____/                                              (____/

[2017-09-06 03:01] ketao1989 commented on #204
把ptrace -t com.xxx.web.* yyyy --path=com.xxx.*改成
ptrace -t com.xxx.web.* yyyy --path=com.xxx*就可以了。。。。

[2017-09-06 03:01] #204 closed

[2017-09-06 04:06] oldmanpushcart commented on #203
因为走的是TELNET协议的简化版，所以忽略了用户名和密码的实现，因为觉得没有必要。从你的理由描述中也只是觉得`而是因为目前我所在的环境情况是开发、生产所有节点都是有用户名和密码的，我想其他地方应该也是类似的`应该要有，没有看到需要身份验证的必要性～

[2017-09-06 08:37] AnyinSong commented on #203
我的问题其实是说远程节点连不上的问题，
我又研究了几遍说明文档，发现应该是对启动方式的说明让我产生了误解
[code]

这段启动说明让人觉得指定pid@ip:port就可以像IDE的远程调试一样观察远程机器的jvm，但我试了很多此都不行，开始我以为是访问节点没有指定用户名和密码的原因，但后来我对照IDE远程调试的场景觉得需要在服务端启动greys才行，然后我再次看文档注意到了这段话：
[code]
然后我就完全参照远程调试的配置形式，先在目标机器上启动了greys，然后在客户端机器是使用 ./greys.sh ip:port的方式连接目标机器上的greys发现成功了，这里不需要指定pid。

那么这里就有了一个新的疑问，启动服务端的greys就在目标机上为何需要指定ip？难道说就是为了直接连接远程jvm？让greys服务端和目标jvm还可以不在同一个节点上？

[2017-09-07 01:32] oldmanpushcart commented on #203
因为GREYS是C/S架构，通过TCP协议保持通讯。

`./greys.sh 49521`
和
`./greys.sh 49521@127.0.0.1:3658`
和
`./greys.sh 49521@:3658`

三个命令的效果是一样的

[2017-09-07 02:38] AnyinSong commented on #203
现在我已经基本都想通啦，只是因为对启动命令的说明未区分服务端和客户端让我一开始对用法产生了误解，现在关闭此issue

[2017-09-07 11:02] #203 closed

[2017-09-08 01:28] #202 closed

[2017-09-08 01:29] #199 closed

[2017-09-15 05:37] aceshot opened #205 "【建议】"
-w命令支持控制台输出内置对象toString()
场景：希望拿一份已有流量（params/returnObj）的copy，最好是json格式，
1，上下游联调的时候，可以迅速给到下游调试
2，结合jvm-sandbox能够很好的做Mock
建议：支持-o输出json格式的文本到本地，等价于单接口的流量录制。

[2017-09-16 05:26] oldmanpushcart commented on #205
这样用greys似乎有点重，greys是有缺陷的：他开放程度比较低，导致和其他工具整合的成本很高，所以才会有jvm–sandbox的出现。

你的诉求其实直接在jvm–sandbox上很好实现

[2017-10-15 21:35] YuhuiFeng opened #207 "[建议]在Java 9环境中支持"
在java 9环境下，由于jigsaw项目，许多jvm层面的API已作出的调整，比如说`sun.management.RuntimeImpl#getBootClassPath`，在JDK9中，永远会输出`UnsupportedOperationException`。因此在java 9环境中greys，`jvm`等查询都会失败。

由于2.0的新内核已经在开发中，不知道在2.0中是否有对JDK9的支持，能否透露下这方面的规划。

[2017-10-18 09:09] guoyang1982 opened #208 "greys支持打印局部变量值吗？"
greys支持打印局部变量值吗？

[2017-10-18 16:58] oldmanpushcart commented on #207
哭……没有考虑JDK9，谁能帮我修啊，我还得参加双十一

[2017-10-18 17:00] oldmanpushcart commented on #208
暂不支持，之前有issues讨论过，有兴趣可以找找。难点就是交互成本太高了。

[2017-10-18 17:02] YuhuiFeng commented on #207
develop-2.0 是新内核的开发branch吗？发现里面仍然有许多阿里的内部API调用...

[2017-10-19 03:14] oldmanpushcart commented on #207
是的，`develop-2.0`时新内核的开发branch，里面用的是阿里开源组件[jvm-sandbox](https://github.com/alibaba/JVM-Sandbox)，目前关于GREYS2.0对字节码增强部分的功能将会集中在jvm-sandbox上进行开发，GREYS自身的功能将会在`deveop-2.0`这个分支上实现。

[2017-10-19 22:03] YuhuiFeng commented on #207
@oldmanpushcart  了解，请问server端如何debug？

[2017-10-19 23:25] oldmanpushcart commented on #207
参考 #96 哈

[2017-10-27 02:23] lzmhehe opened #210 "为什么分agent和core两个包"
您好
非常感谢greys团队开源的这个项目，对我的实际工作，提供很大帮助。
有个疑问
为什么项目会分两个包，agent仅是一个空壳，
把agent的内容放到core中，attach的时候再把core.jar传个目标jvm是否可以

[2017-10-27 06:54] YuhuiFeng commented on #210
个人觉得这样分包处理更好，这样把核心代码分开加载，能有效的通过类加载器对greys的类进行隔离，这样可以防止对目标应用的污染

[2017-10-27 07:01] YuhuiFeng opened #211 "[建议] 向gradle迁移"
不知道，是否有这个打算，将maven替换成gradle？

好处是，可以把所有的打包和管理逻辑都放到build.gradle中，而且可以增加代码可读性。之所以考虑到这点事，想到对JDK9的支持上，势必需要添加由jdk9单独编译的模块。虽然maven也能做，但是不如gradle来得方便和直观

[2017-10-29 14:38] oldmanpushcart commented on #210
@YuhuiFeng 说得对，可以看下`AgentLauncher`的ClassLoader加载截图

[code]

可以看到在`agent.jar`被attach所加载的时候是被`AppClassLoader`所加载，如果`core.jar`作为引导jar包被加载进来，在后续的编码工作中一个不下心，很容易就被`AppClassLoader`所误加载其他非greys的类。

所以为了后续整个工程的维护方便，单独隔离了一个`agent模块`出来，这个模块的pom引用都被非常严格的限制。

[2017-10-29 14:39] #210 closed

[2017-10-29 14:42] oldmanpushcart commented on #211
非常不错的提议，但有几个现实中的困难。

1. 我个人对gradle不熟悉，greys中需要一些打包的技巧，从maven切换到gradle有一定的困难
2. 时间不够，目前在忙公司的双十一，真心没有时间
3. 和未来规划冲突，在未来规划中（GREYS2.0版本），将会采用[jvm-sandbox](https://github.com/alibaba/JVM-Sandbox)来实现字节码增强的内核。这个项目是我的妻子所发起，脱胎于greys，所以技术上同源质量也有保障。

[2017-10-29 14:56] #207 closed

[2017-10-29 14:57] oldmanpushcart commented on #196
在GREYS2.0中考虑支持这个需求

[2017-10-29 14:58] oldmanpushcart commented on #197
考虑在GREYS2.0中完成这个优化改造

[2017-10-29 15:14] #195 closed

[2017-10-29 15:14] oldmanpushcart commented on #160
这个考虑在GREYS2.0中进行支持

[2017-10-29 15:15] #188 closed

[2017-10-29 15:15] oldmanpushcart commented on #120
这个考虑在GREYS2.0中进行修复

[2017-10-29 15:16] #208 closed

[2017-10-29 15:16] #200 closed

[2017-10-29 15:42] YuhuiFeng commented on #211
@oldmanpushcart 谢谢你的反馈，也了解情况。目前处于兴趣，我已经在master上自己写了一些东西。而之所以提出这个建议，是因为在实现对jigsaw的严格支持上，受到了maven的限制。目前进度

1. 基于 https://github.com/oldmanpushcart/greys-anatomy/pull/209，我已完成master上maven向gradle的完整迁移，但是因为不了你的观点，所以没有push出来。
2. 正在进行开发对jigsaw的严格支持。通过调研初步结论是应该不会对core的替换造成什么影响，所有的开发工作集中在agent模块中。

感谢你们对双十一的付出，我们可以之后再讨论这个问题

[2017-10-29 22:43] YuhuiFeng commented on #211
想了下，之前的思路有点问题，core模块也需要做一些的修改。但是更多应该只是添加一层代理类（来增加模块相关操作），而不会影响其原有逻辑和功能

[2017-10-30 10:27] MRXia opened #212 "【请教】如果想开发图形化界面，有什么好的开发建议吗？"
RT，现在主要的需求是想分析方法的调用链路，现有的命令行操作较为繁琐，如果想对应开发一个web界面，有什么好的方案吗？

[2017-10-30 18:20] oldmanpushcart commented on #212
请耐心等待双十一结束，我花1个月的时间重新整理下GREYS2.0在这个项目中会完整的考虑协议的开放，现在不要基于现有的架构进行这个方面的拓展

[2017-10-31 01:17] shangqiao opened #213 "要查看加载的resource来自于什么地方，这个功能不支持么"
对应housemd的source命令，有些时候特别是log4j的配置，可能引入的jar包里面也有，所以根本不知道现在生效的配置来自于哪里

[2017-10-31 07:38] oldmanpushcart commented on #213
好的收到，目前不支持，下一个小版本迭代中支持掉。预计双十一之后发布

[2017-10-31 11:02] zhaofei91 opened #214 "trace追踪方法调用如果有大量重复循环会导致FGC"

[2017-11-02 01:40] whitelilis commented on #196
太赞了

2.0 有时间表吗?

[2017-11-02 08:19] oldmanpushcart commented on #196
不要逼我T_T，程序员最怕就是延期，加班，让我按兴趣来吧。不过预计是我在春节之前

[2017-11-02 17:31] oldmanpushcart commented on #214
在GREYS2.0完成优化

[2017-11-15 05:46] breakwall commented on #212
我尝试去用图形化界面去封装命令失败

[2017-11-15 07:16] oldmanpushcart commented on #212
1. 灯光师就位！
1. 音像师就位！！
1. 摄像师集合完毕！！！
1. 收音话筒准备就绪！！！！
1. 导播台已经饥渴难耐！！！！！

请把话筒塞到 @breakwall 的嘴巴里，来，请说出你封装失败的故事～～～ ^_^

[2017-11-15 10:11] zhenjia001 opened #216 "windows下如何使用？想用ide把这个工程跟起来深入了解，做不到啊"

[2017-11-17 01:51] oldmanpushcart commented on #216
如果只是想调试，参考#96，但我还真不知道这么在windows下用😂

[2017-11-20 06:29] lzmhehe commented on #210
多谢作者
我自己写了一段代码，被classloader搞晕后，就马上理解你们为什么这么处理了

[2017-11-20 07:33] oldmanpushcart commented on #210
纸上得来终觉浅，绝知此事须 _宫刑_ ！:)

[2017-11-21 07:16] zhenjia001 commented on #96
@muyuqiu001 debug目标进程？能否帮忙解释一下，是指grey.sh pid,grey的进程还是监控的进程？
我也遇到了你前面遇到的问题，就是agent 里面都debug 断点不住，

[2017-11-21 07:48] zhenjia001 commented on #216
非常感谢，要想断点agent的，需要远程连上监控目标的jvm（监控目标加上-Xdebug -Xrunjdwp:transport=dt_socket,server=y,address=8000），不是对greys进行远程调试。
继续学习

[2017-11-21 12:22] zhenjia001 commented on #216
windows下也可以使用，
修改一下AgentLauncher，把agentJar稍微改一下，不然在windows下总是获取不到对应agentjar路径
例如：  String agentJar = args.substring(0, index);
            final String agentArgs = args.substring(index, args.length());
            if("null".equals(agentJar)){
                String tmpAgent=args.substring(args.indexOf("greysAgent")+11,args.length());
                agentJar=tmpAgent.substring(0,tmpAgent.indexOf("

[2017-11-21 12:48] zhenjia001 commented on #216
JavaScript这部分是如何使用？使用场景是什么？请帮忙@oldmanpushcart

[2017-11-21 13:51] oldmanpushcart commented on #216
@zhenjia001 在windows下改动的，提交下代码？哈哈

[2017-11-22 01:44] zhenjia001 commented on #216
@oldmanpushcart
好的，我完善一下就提交
谢谢，js我再研究一下。是可以动态把原来的类或者方法进行切面或者替换吗？看着挺高级，得深入研究一把了

[2017-11-22 06:51] oldmanpushcart commented on #216
只做切面不做替换(虽然本质是把完成切面的类替换原有的类，但我担心你说的替换是HotSwap的机制)

greys所有的命令，理论上都可以用js重写一次，就是性能开销上会比较大

[2017-11-23 03:23] zhenjia001 commented on #216
是HotSwap的机制，性能开销会很大吗？我整个简单的压测一下

[2017-11-23 08:49] benyVip opened #217 "启动不成功"
illegal ENV, please set $JAVA_HOME to JDK6+

启动就报错，请问是什么原因呢

[2017-11-23 15:09] oldmanpushcart commented on #217
啊，要设置JAVA_HOME

[2017-11-24 04:05] whitelilis commented on #165
静等 2.0

[2017-12-07 02:07] #217 closed

[2017-12-07 02:07] #216 closed

[2017-12-07 09:35] coodoing opened #218 "【建议】启动过程未安装unzip命令报错，考虑是否可以支持tar解压缩"
./greys.sh 12345
new version(**1.7.6.4**) detection, update now...
###################################100.0%
./greys.sh: line 164: unzip: command not found
update fail, ignore this update.
Error: Unable to access jarfile /home/www/.greys/lib/**0.7.6.4**/greys/greys-core.jar
attach to target jvm(12345) failed.

1）这里是否能支持tar的解压缩方式？ 因为有些服务器可能没有安装unzip包执行不了unzip命令，但基本上都可以用tar命令。
2）更新失败后衍生的问题：通过get_loc

[2017-12-08 02:35] oldmanpushcart commented on #218
1. 建议收到，我改改

2. 不建议加默认版本，理由如下

    1. 需要考虑到这台机器上从来没有安装过任何版本greys的情况
    2. 属于更新失败后的异常问题，而且如果这台机器曾经有过greys老版本，更新失败会让脚本使用老版本兼容掉这次错误

[2017-12-08 03:24] #218 closed

[2017-12-08 03:25] oldmanpushcart commented on #218
在`1.7.6.5`版本中增加tar支持

[2017-12-08 03:27] oldmanpushcart commented on #211
我已经在`1.7.6.5`版本中整合了你提供的JDK9支持patch，目前测试在JDK9中工作正常，非常感谢。
maven切换成gradle的事情我打算先搁置一下，毕竟个人还是喜欢maven :)

[2017-12-08 03:27] #211 closed

[2017-12-08 05:15] coodoing commented on #218
赞 速度

[2017-12-08 07:31] YuhuiFeng commented on #211
其实我在本地早就有gradle的迁移版本的patch了，但是因为我之前做了JDK9的小改动，gradle迁移patch是基于那个之上的，所以没有发布出来。

如果有兴趣，我可以发出来不合并。至于后续，我可以等2.0出来后，再看看能不能帮忙重新做迁移。

至于之前提到的JDK9的严格支持，我做了一部分开发，原理和基础框架部分已经出来。但是同样，因为目前主线是2.0开发，所以我暂且搁置了这部分的工作。

[2017-12-08 08:08] oldmanpushcart commented on #211
好的，2.0我得加速了，目前只写了version命令，client一行代码都没写。

我看了也试用过gradle，还是没有理解他的好处，让我再想想，当然我懒也是一个主要原因，如果你能在2.0框架出来之后直接提供patch，我倒是乐意尝试。

[2017-12-08 09:16] zhaiyuyong opened #219 "最新的greys-1.7.6.5-bin.zip 是用jdk9编译的把？java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()Ljava/nio/ByteBuffer"
最新的greys-1.7.6.5-bin.zip 是用jdk9编译的把？
好奇怪，之前好的突然就这样了，改java path也不行

[code]

[2017-12-09 02:26] zhaiyuyong commented on #219
https://github.com/plasma-umass/doppio/issues/497
This problem also happens when you build the software with JDK 9 with target JDK 8, because in JDK9 ByteBuffer.flip() returns a ByteBuffer... It used to return a Buffer in JDK8.

And then you try to run this on JDK8 you get exactly this error.

Java-Workaround: Just cast your ByteBuffer to Buffer before calling flip()... i.e. ((Buffer)byteBuffer).f

[2017-12-09 03:41] oldmanpushcart commented on #219
非常抱歉，我立即解决！！

[2017-12-09 04:01] oldmanpushcart commented on #219
搞定了

[2017-12-09 04:01] #219 closed

[2017-12-09 06:51] zhaiyuyong commented on #219
那个pom只能指定编译出来的class文件
minor version: 0
major version: 50
但是如果用了jdk9对比jdk8变化了的api还是有问题

[2017-12-09 07:29] zhaiyuyong opened #220 "【建议】trace的method里面把接口的实例类打印出来"
比如:
[code]
PlanOptimizer是个接口，有58个实现，for遍历不知道具体哪个实例耗时严重

[2017-12-09 14:58] oldmanpushcart commented on #220
受限于JVM规范，这个属于动态调用，是不可能拿到的。不过你确定了是这个方法有问题嫌疑，可以用ptrace命令进一步的适配，能满足你的需求

[2017-12-11 01:50] whitelilis opened #221 "1.7.6.6安装失败"
![image](https://user-images.githubusercontent.com/1090230/33812472-abb112de-de58-11e7-886e-6051f6d5fdcf.png)

[2017-12-11 01:52] whitelilis commented on #221
检查发现有这样一个文件  .greys/lib/temp_1.7.6.6_6378/greys-1.7.6.6-bin.zip

[2017-12-11 02:03] oldmanpushcart commented on #221
好奇怪的错误，我希望能得到更多信息
1. greys 的安装方式
2. 执行命令command -v unzip

[2017-12-11 02:46] whitelilis commented on #221
1, 安装方式是  curl -sLk http://ompc.oss.aliyuncs.com/greys/install.sh|sh   ,  因为之前安装过老版本, 所以之前执行了  rm -rf .greys greys.sh

2, command -v unzip 的输出是  /usr/bin/unzip

[2017-12-11 03:22] oldmanpushcart commented on #221
非常抱歉，我知道问题出在哪里了...低级问题

https://github.com/oldmanpushcart/greys-anatomy/commit/d79a2fdfbf5df132e84fab6bb497ca5d703f1d86#diff-c2b2b6098611729cb9ba4e2cd1ad624d

[2017-12-11 10:57] zhaiyuyong opened #222 "trace 方法里面的行号好像没了？"

[2017-12-11 12:55] oldmanpushcart commented on #222
有的哈，行号取决于被监控的Class文件在编译的时候是否有把行号带上～～～

[code]

[2017-12-12 07:31] #221 closed

[2017-12-12 07:32] #220 closed

[2017-12-12 07:32] #222 closed

[2017-12-15 09:41] whitelilis opened #223 "希望2.0 加入 houseMD 的 inspect"
发现这个命令可以查看类的属性, 这功能很实用.
如果能看 instance 的属性就更好了, 我可能想多了,哈哈.

[2017-12-18 07:13] oldmanpushcart commented on #223
嗯嗯～

1. 如果你想看一个类的静态属性，不妨尝试下
[code]

2. 如果你想看一个instance的属性，不妨尝试下
[code]

3. 目前你只能通过`watch`、`tt`等命令**在有请求触发**的情况下才能拿到对应的instance，凭空拿到一个instance实在是做不到的事情。不过我是考虑在2.0中给一些容器开发一些Hook（比如spring、Servlet等），这样你就能通过这些Hook拿到对应的容器，再从容器中拿到instance就比较容易了

[2017-12-18 08:46] whitelilis commented on #223
嗯， 需求不够明确。
1， sc -df 看静态属性已经很好， 如果也支持 -x 参数就更好了， 因为有一些 list 或 hashmap 会显示为内存地址。
2， 看 instance 这个需求不明确： 最希望有的一个功能是， 当代码执行到某一行时， 查看  **当前环境**   下的一个 instance

[2017-12-18 14:48] oldmanpushcart commented on #223
1. `sc -df`支持`-x`参数，嗯嗯，这个需求我应该可以搞定，不难
2. "当代码执行到某一行时"，这个可以明确下什么意思么？因为指定到某一行这个着实有点变态的需求哈哈

[2017-12-19 06:05] whitelilis commented on #223
比如

[2017-12-19 11:20] oldmanpushcart commented on #223
好的，收到。另外，如果想看执行可以用trace 命令哦

[2017-12-20 13:50] zxiaofan opened #224 "入参返回值对象转json"
监控入参返回值的时候支持将方法的入参or返回值对象转成json么，查了下文档和网上资料，没找到耶

[2017-12-21 03:18] oldmanpushcart commented on #224
试试

[code]

[2017-12-22 00:32] zxiaofan commented on #224
完美，Tks

[2017-12-22 00:51] zxiaofan commented on #224
刚试了下，1、观察返回值控制台能打印json，比如watch -s *ServiceImpl queryHotelDetail returnObj -x 1；
2、但是观察入参却不能打印json，比如watch -b *ServiceImpl queryHotelDetail params[0];  这个的返回值依旧是对象，是还有什么需要注意的么

[2017-12-22 06:48] oldmanpushcart commented on #224
不应该啊，除非这个对象被你拼接成字符串了。你完整的命令是上边贴出来的么？

用-x1可以给我看看params[0]大概是个啥？

[2017-12-23 09:07] zxiaofan commented on #224
完整命令和返回结果如下：
----
第1次操作 params[0]
----

ga?>
ga?>options json-format true
+-------------+--------------+-------------+
| NAME        | BEFORE-VALUE | AFTER-VALUE |
+-------------+--------------+-------------+
| json-format | true         | true        |
+-------------+--------------+-------------+
ga?>watch -b *HotelServiceImpl queryHotelDetail '"params[0]="+params[0]'
Press Ctrl+D to abort.
Affec

[2017-12-23 12:35] oldmanpushcart commented on #224
问题出在你的表达式中
[code]

这样写表达式，GREYS是这样等价处理的
[code]

所以正确的写法应该是
[code]

[2017-12-25 06:46] zhaiyuyong opened #225 "能不能支持在任何方法的随意一行中加一段代码？"
[code]
在int a=100;后面加一行代码
a = a*100;

[2017-12-27 01:40] oldmanpushcart commented on #225
1. GREYS永远不会尝试去修改任何方法的入参和返回值，他的核心职能只能是观察！

1. 如果你想修改方法的行为，可以用[JVM-SANDBOX](https://github.com/oldmanpushcart/jvm-sandbox)中间件来实现

1. 就算在JVM-SADNBOX中，想要在任何方法中随意增加一行代码，甚至修改一个变量从技术上都是可以，但是不会推荐你这样做。不过针对你这个CASE，变量a恰好是返回值，那么最终可以做到这样的效果

[code]

[2017-12-27 07:42] zhaiyuyong commented on #225
主要是为了在方法里面打印某个变量的值，现在只能看到入参数和返回值

[2017-12-27 08:48] oldmanpushcart commented on #225
哈哈，这个目前有考虑支持，但以我排查问题那么久的经验，一般局部变量都可以通过推演运算得到（已经明确了入参和返回值的情况下）。

所以，需要观察局部变量的值真的不是太多见呢

[2017-12-27 08:55] #224 closed

[2017-12-28 08:53] whitelilis opened #226 "希望 2.0 借鉴 byteman 的部分优点"
最近看了 byteman 和 sand-box ，发现 byteman有一些优点还是可以借鉴做到 2.0 里的，比如：
[code]
但是也有一些不好的点
[code]

[2017-12-28 10:01] whitelilis commented on #226
或者说“byteman 的条件表达式更加强大”

[2017-12-28 17:40] oldmanpushcart commented on #226
嗯byteman的条件表达式的确更强大，我不大打算在2.0的版本中直接支持local变量，因为我还没说服sandbox的作者支持这个点

[2017-12-29 03:38] oldmanpushcart commented on #226
sandbox的功能需要打成jar包来实现，这个的确有点那个重，不过他面对的是企业级的场景，重和严谨是应该的。你可以考虑实现一个JavaScriptModule，让只写js脚本即可做一些有趣的事情，期待你的贡献哦

[2018-01-04 02:02] yanggeorge opened #227 "git clone git@github.com:oldmanpushcart/greys-anatomy.git 运行失败"
[code]
如果是https就不会出现这个错误。

[2018-01-04 13:14] oldmanpushcart commented on #227
哈哈哈哈，没事，你就继续用https挺好的。我也喜欢用https

[2018-01-06 08:03] #227 closed

[2018-01-10 15:06] dslztx opened #228 "ptrace的执行路径会根据"类名表达式“进行过滤"
ptrace的执行路径自动会根据“类名表达式匹配”进行过滤，比如我的“类名表达式”为"com.alibaba.*‘，那么打印的方法执行路径的类都是以"com.alibaba"开头的，这点跟trace不一致
使用ptrace如何打印完整的方法执行路径呢？

[2018-01-10 16:43] oldmanpushcart commented on #228
HI 你可以用 [ptrace命令](https://github.com/oldmanpushcart/greys-anatomy/wiki/greys-pdf#ptrace命令)中的`[path:]`或`[Epath]`参数试试哦~

`ptrace`的`类名表达式`+`方法名表达式`只是用来确定ptrace的入口，`--path`参数才是真正控制渲染路径的匹配表达式

[2018-01-11 06:12] dslztx commented on #228
恩，试过path参数，如果用"-path *"的话，会报错"Command execution failed. cause : javassist.util.proxy.MethodHandler"

[2018-01-11 06:43] oldmanpushcart commented on #228
嗯？能否提供下完整的执行命令以及错误堆栈？

[2018-01-11 07:03] zhenjia001 commented on #226
sandbox也有些重，还是greys灵活。
JavaScriptModule我觉得可以，让greys灵活强大，我看大家有好几个类似诉求，1、精确地定位插入点；2、灵活插入内容
大家一起搞一下吧

[2018-01-11 07:05] zhenjia001 opened #229 "monitor的结果是否支持输出到本地文件？"
不支持输出到文件吗？

[2018-01-11 07:11] dslztx commented on #228
ptrace -n 1 --path * com.公司名.xxx.xxx.类名 getResult
错误堆栈就是上面那个
[code]

[2018-01-11 07:38] dslztx commented on #228
恩，非常感谢你的作品，为你付出的努力点个大大的赞

[2018-01-12 02:57] whitelilis opened #230 "Elasticsearch 为什么不能观察呢"
![image](https://user-images.githubusercontent.com/1090230/34857688-32c7ce4c-f787-11e7-9b70-062e0bee3d86.png)

如上图，不明觉厉

[2018-01-12 03:58] whitelilis commented on #229
用 tee  命令
建议详细看一下详细说明

[2018-01-12 06:00] #229 closed

[2018-01-12 06:52] whitelilis commented on #230
找到程序的 out 日志中有如下东东
[code]

[2018-01-12 07:51] whitelilis commented on #230
在它的 policy 文件中打开各种限制
[code]
报下面的错：
[code]

[2018-01-12 08:19] whitelilis commented on #230
可以排除是机器配置或环境的问题，因为 greys 其它 java 进程是可以的。只有 ES 的不行。

[2018-01-12 08:31] whitelilis opened #231 "top 命令没有说明文档而且似乎不怎么好用"
top 这个命令的作用我猜是要找到当前最占 cpu 的方法，但是实际打出来的东东很多都是 parking 的线程，实际没有占用 cpu。
这个命令的输出如果是用类似 jvmtop （ https://github.com/patric-r/jvmtop ） 的 --profile 选项生成的结果，就特别棒了。
当然， jvmtop 使用的是采样的方法，对性能有一定的影响，我觉得这个应该还好。

主要的应用场景是：这程序好慢啊， cpu 打满了，它在干什么呢？ 这时一般要 jstack 一把，然后看 RUNNING 的，人肉分析哪些是真正有用的， 但是好烦啊。

[2018-01-12 09:19] whitelilis commented on #231
我提了个 PR。呵呵。自己测试还可用。

[2018-01-12 09:38] whitelilis commented on #231
这里面其实还有几个问题：
1， IN_NATIVE  和 IN_VM 的状态是不是应该考虑
2，epoll 也有很多 sun.nio.ch.EPollArrayWrapper.epollWait  的状态，也是 RUNNABLE 的，我觉得应该不考虑。

[2018-01-12 12:08] oldmanpushcart commented on #230
[code]

问题出在这里，说明`greys.sh`在attach的时候传递给JVM的参数中，`TARGET_IP`参数为空...不应该啊，而且只在Elasticsearch中出现这个问题，百思不得其解。

能否帮个小忙，在`greys.sh`中debug下，看在这个脚本中的`attach_jvm`方法相关的参数到底是怎样的？

[code]

[2018-01-12 12:18] oldmanpushcart commented on #231
`top`命令是G友 @rodbate 贡献的哦，我抄送他一起讨论。
在这个PR中我提出了我的疑问～

[2018-01-12 12:27] oldmanpushcart commented on #230
在主日志中也帮忙找下这条日志的输出（如果你的Elasticsearch默认开了INFO级的日志的话），应该在Elasticsearch的主日志中能找到。

[code]

我想看`network`和`port`这两个参数的值

[2018-01-14 03:14] whitelilis commented on #230
醉了。。。。。今天再测试，居然可以用了。。。。

[2018-01-15 02:18] rodbate commented on #231
好久以前的， [都快忘了，以前写这个命令是有业务的需求，现在看来是有点粗糙，可以优化的。另外谢谢 @oldmanpushcart merge and update

[2018-01-15 03:25] whitelilis commented on #231
或者逻辑可以改一下：
默认只统计 RUNNABLE 的（当前是所有的）， -r 参数， 当需要 NATIVE 时，用 -n 参数， 当需要  Parking 时，用 -p 参数; 当需要epoll 时， 用 -e 参数;  当需要 jvm 时，用 -j 参数;  所有的都需要时，用 -a 参数， 这样就可以随意组合了。

[2018-01-15 03:36] oldmanpushcart commented on #231
主要是THREAD_STATE是瞬时状态，我平时核对jstack消耗过多的CPU的时候就会经常发现，一些wait的线程消耗CPU 也是异常的高，只是恰好你跑命令的时候他出于wait状态而已。默认过滤掉，只留下runnable的，会不会给问题定位人员误会判？

[2018-01-15 04:07] rodbate commented on #231
默认统计所有线程，会好点吧， 线程死锁比较重要的，可以突出？

[2018-01-15 09:06] whitelilis commented on #230
另外， greys.sh 里执行的参数如下：
-target 127.0.0.1:9999

[2018-01-15 09:27] whitelilis commented on #230
![image](https://user-images.githubusercontent.com/1090230/34935564-444500b0-fa19-11e7-9b14-2211818afffc.png)

[2018-01-16 03:41] magixsource opened #233 "使用greys致使服务器内存耗尽"
JDK VERSION: 1.8
OS: LINUX
GREYS VERSION: 1.7.6.6
基础设施：ALIYUN
严重级别：致命

重现过程：
服务器调试系统，使用greys进JVM进程，并使用ptrace跟踪某个方法，条件有设定--path以及 #cost>x，然后进行pts压测，时间五分钟。压测时因x值太小，日志很多，立刻ctrl+d中断跟踪并ctrl+c退出greys。

过不了多久，服务器jvm内存耗尽，使用jmap把heap打出来，发现com.github.ompc.greys.core.manager.impl.DefaultTimeFragmentManager占用96.47%的内存。

[2018-01-16 05:58] oldmanpushcart commented on #230
收到...我擦，为啥Configure.toString()竟然也被AccessControl拦住了...百撕不得骑姐

[2018-01-17 03:46] oldmanpushcart commented on #233
亲，你是不是用了-t命令呢

[2018-01-18 13:00] magixsource commented on #233
是呢，加了-t跟踪链路。 是不是使用完要关闭？

[2018-01-18 15:03] oldmanpushcart commented on #233
-t参数是会让ptrace记录下所有调用的参数和返回值，而且目前我没设计一个上限，如果调用量很大，很容易就会让你内存耗尽。

- greys的定位是业务问题排查，对于性能问题排查只能做个大概，建议用专业的jprofiler

- 能不用-t参数尽量不要用，除非你要排查路径上的故障

- 如果用了--t参数，结束之后记得用tt -D命令，清理记录

[2018-01-25 08:16] yangqjiayou opened #234 "启动报错：start greys failed because ：Null"
各位大神，我是用yum安装的jdk1.7，然后从另一个环境拷tools.jar到本环境，然后启动报上面的错，这是什么原因？

[2018-01-25 10:22] oldmanpushcart commented on #234
because : Null ...
这个错误没见过哎，不知道，哈哈

[2018-01-26 02:35] whitelilis opened #235 "希望增加一个 block_top 命令"
前几天分析问题，遇到一个很常见的情况：有一个线程跑得比较慢，卡了其它多个线程。这种情况需要 jstack，然后人肉看哪个 block 了哪个，哪个 block 得线程多。
如果有一个 block_top 命令，或者直接在 top 命令里加一个选项，那就太方便了。

[2018-01-26 07:05] whitelilis opened #236 "希望增加一个 trace_life 的命令"
有时为了追踪内存泄漏，希望知道哪一个特定的类的对象的生命周期，比如
先在某个时间 <init> 了一个对象 a , 然后在某个时间，它被某个方法调用了一次，后来 xxxx
最后，被某一次 YGC 或 FGC 给回收了。
这样就展现了它的完整生命周期。
如果内存泄漏，则很有可能再也不会回收。

[2018-01-30 08:08] gcxtx opened #237 "2.0啥时候发布啊"
马上过年了，2.0啥时候能出啊，好期待啊。

[2018-01-31 17:29] oldmanpushcart commented on #235
抱歉，这几天出去玩了没注意github
哈哈，欢迎你来PR哦

[2018-01-31 17:33] oldmanpushcart commented on #236
针对内存内存泄漏的排查，最好的方式不应该是jmap命令dump下来么？

[2018-02-01 01:46] whitelilis commented on #235
哈哈，悠闲啊。
我尝试一下

[2018-02-01 08:41] youly opened #238 "同一个机器多个jvm进程下监控有问题"
如果有两个进程，如p1,p2，先启动greps监控p1后，shutdown，再启动监控p2,会报Exception in thread "main" java.net.ConnectException: Connection refused

[2018-02-01 09:01] youly opened #239 "class redefinition failed: attempted to delete a method"
执行任何命令都报这个错

[2018-02-05 03:05] zhenjia001 opened #240 "想把greys作为模块放到jvm-sandbox里，增强sandbox能力，是否可行"
把greys的监控和问题排查能力作为sandbox module进行加载，从技术上看我觉得可以，但是要把很多执行改成servlet的方式，感觉难度很大，请帮忙

[2018-02-05 03:22] zhenjia001 commented on #225
这个功能还是有必要的，sandbox还是有点厚重，定位问题时除了打印信息等，还有一个就是要快速规避，这个就需要这能力了

[2018-02-07 10:34] oldmanpushcart commented on #225
嗯？不是太明白，钉钉聊？

[2018-02-09 04:31] wyuxiao729 commented on #225
我还是比较赞同 @oldmanpushcart 的意见，greys 核心功能是观察，变量经过入参推算而得，你这要求有就等于做了一个远程debug功能了。

[2018-02-09 04:44] oldmanpushcart commented on #240
呃，这个是2.0正在做的事情，时间时间

[2018-02-09 04:45] oldmanpushcart commented on #238
老铁，换个端口

[2018-02-11 13:32] evazca opened #241 "jdk1.6.0_45 stack jdk方法"
写了个testcase main函数死循环调test函数，test函数new一个hashmap并且put了一个kv
stack -n 2 java.util.HashMap put显示affect 0 0（＊ put一样）然而stack ＊ test没有问题。greys版本为1.7.6.6

[2018-02-12 10:07] whitelilis commented on #240
离过年还有 4 天。。。。。

[2018-02-13 01:38] whitelilis commented on #241
java.util.HashMap 是系统类，默认不会作用的。

[2018-02-13 07:29] evazca commented on #241
那有没有办法作用？事实上本来的目标是为了stack throwable里的方法，也无法生效

[2018-02-13 07:43] oldmanpushcart commented on #241
options unsafe true

[2018-02-13 10:00] evazca commented on #241
非常感谢，getstacktrace方法测试ok。然而fillinstacktrace方法可以affect却不能stack到请问是不是不支持？如果不能有哪些case不支持呢？比如native方法能不能？

[2018-02-14 09:51] zhenjia001 commented on #240
@oldmanpushcart 你可以发个帖子，召集大家一起搞一下，我觉得大家还是很愿意帮忙一起搞得

[2018-02-14 09:52] zhenjia001 opened #242 "ibm jdk 是否支持？有测试过吗"

[2018-02-14 09:52] zhenjia001 commented on #242
或者有人在ibm jdk下使用过吗

[2018-02-14 11:46] oldmanpushcart commented on #240
@zhenjia001 那我必须要先有一个雏形，一个EXAMPLE，我只能说努力。

[2018-02-22 10:37] VitZhou opened #243 "请支持mac 的brew安装"
请支持mac 的brew安装

[2018-02-24 00:23] damacheng009 opened #244 "tomcat下使用sc等命令无法获取自己的web程序使用的class"
环境：JDK7官方版本， tomcat7，greys-anatomy最新版本。

[2018-02-24 02:45] damacheng009 commented on #244
不好意思，找到问题了。撤回~

[2018-02-24 02:45] #244 closed

[2018-02-27 07:15] #238 closed

[2018-02-27 07:16] oldmanpushcart commented on #239
你的应用应该是加了一个agent，这个agent的实现应该做Proxy。但这个agent的作者没有考虑到会有attach的情况，导致在retransformat的时候报这个错误。

[2018-02-27 07:17] oldmanpushcart commented on #243
至今不知道怎么进brew仓库

[2018-02-27 07:19] oldmanpushcart commented on #242
上次有个哥们用了，坟头草大概有我这么高了吧～～～
开玩笑的

有人试过，不过在WebSphere下配置了比较严格的"Java安全策略"，你必须修改配置才行

[2018-02-27 07:37] 287400117 opened #245 "jdk8 tomcat8.5.16 greys1.7.6.6 启动失败"
大神帮忙看下这是什么问题

[code]

[2018-03-07 07:02] fonoisrev opened #246 "希望在trace与ptrace中加入的时间戳"
希望在trace与ptrace的结果显示中显示时间戳
有时生产上捕获问题，但是却无法找到准确的时间点，因此，加入时间戳助于分析问题产生的原因

目前只有 ptrace -t 时能够在tt的记录中找到时间戳

[2018-03-07 07:26] fonoisrev opened #247 "希望增强monitor命令，加入confition-express 条件表达式"
有时会用monitor做性能统计，如果应用使用Spring框架，则monitor命令的类名与方法过滤会得到EnhancerBySpringCGLIB类的混淆结果，产生重复的统计结果。

例如在com.cmsz.repository.redis.RedisDao类上注解@Component将出现com.cmsz.repository.redis.RedisDao$$EnhancerBySpringCGLIB$$23a01427自动生成类。

使用ptrace与trace命令时，可以将以上类区分开，方式是使用 condition-express 条件表达式过滤clazz.name属性。

希望monitor也有条件表达式的功能，增强其作为性能统计工具的作用。

[2018-03-07 07:51] evazca commented on #241
没有报错并且看affect信息 class和method都有数字，看上去是ok的。问题是一直在等待，仿佛没有调用一样。
测试代码就是死循环调用thread.currentThread().getstackTrace();(New exception()).fillInStaceTrace();

发现＊ getstacktrace可以stack，＊  fillinstacktrace不能一直在等待。理论上前一个函数会调用后一个显示执行也不能捕获

ps：实际问题是druid的某个开关打开后会频繁getstacktrace……本来是perf到fillinstacktrace的，因为不能stack才尝试找getstacktrace

[2018-03-07 09:50] oldmanpushcart commented on #241
明白了，递归调用了。先不要观察fillinstacktrace，我在2.0中想办法解决掉这个问题。

[2018-03-08 10:26] oldmanpushcart commented on #247
条件表达式非常消耗性能，你的需求能否通过直接monitor在`com.cmsz.repository.redis.RedisDao`的实现类上来实现，这样可以避免EnhancerBySpringCGLIB这种临时类的尴尬

[2018-03-08 10:27] oldmanpushcart commented on #246
能否模拟下输出格式，好让我知道你期望的时间戳想加在什么地方

[2018-03-13 07:15] fonoisrev commented on #246
现有trace的捕获如下，没有任何有效的时间信息
![trace-no-time](https://user-images.githubusercontent.com/2321796/37327378-00bd72b6-26d1-11e8-81ac-da4bafb1ecb3.png)

希望增加时间戳信息，如下红色下划线部分
![trace-with-time](https://user-images.githubusercontent.com/2321796/37327432-36f0156e-26d1-11e8-9ce2-62f68b3cc6c7.png)

[2018-03-13 07:40] fonoisrev commented on #247
请看这个简单的Spring @Controller注解的类产生的结果
针对com.cmsz.controller.DbTestOrder类执行sc查找时，多得到一个类
![sc2class](https://user-images.githubusercontent.com/2321796/37327686-46396f60-26d2-11e8-90bb-90afb4c96ac3.png)
即使使用sc -E 加上结束符也不能避免出现两个类
![sc -e 2class](https://user-images.githubusercontent.com/2321796/37327698-50b1d676-26d2-11e8-831f-b322f48322c9.png)

同样，trace命令如果不加condition-express条件，则得到
![trace-no-condition]

[2018-03-13 09:10] fonoisrev opened #248 "monitor命令捕获的执行时间问题"
目前代码的调用结构如下
![monitor-ptrace-structure](https://user-images.githubusercontent.com/2321796/37331826-0b11bf4c-26e0-11e8-8274-382eb8d5b35f.png)

针对order函数进行捕获，得到如下，平均RT为115ms，比较正常
![monitor-order](https://user-images.githubusercontent.com/2321796/37332072-9fe3f0d6-26e0-11e8-91e1-350b295ffe62.png)

又针对order与sendNotifyBean函数进行捕获，发现order的平均RT似乎扣除了sendNotifyBean的平均RT值
![monitor-order-2](https://user-imag

[2018-03-24 12:05] zhenjia001 commented on #242
java 安全策略改了也没成功，ibm 类加载有区别吗

[2018-05-02 02:05] Root-Fang opened #249 "greys attach时会搞错pid"
我在用Greys过程中，不管我怎么换pid，都只会attach到一个进程上，这个问题该怎么搞？ 我用的版本是1.7.6.6，所有的Java pid都是使用systemd启动的

[2018-05-08 04:06] licangming opened #250 "Attach to target jvm failed."
The greys install successed.
But attached failed when i attached to my java program.

`start greys failed, because : Agent JAR loaded but agent failed to initialize
attach to target jvm(56991) failed.
`

What should I do？

[2018-05-08 05:37] zhaiyuyong opened #251 "greys能否添加获取jmx信息的功能，便于方便的获取jmx"

[2018-05-10 09:28] zdylalala opened #252 "用 greys执行monitor 或者trace 时把 Java进程干死！"
用 greys执行monitor 或者trace 时把 Java进程干死！

greys版本为1.7(截止2018-5-10最新的)

Tomcat撑了一会就直接进程都没了。  如果不用greys就不会。
Jdk版本  1.7.0  报错时带有core dump 文件。 作者有兴趣可以找我拿 ： QQ  395751951

看dump文件发现进行了10次full gc   。。。

**解决方案:**
好吧，我找到原因了。 JDK版本的问题 。之前是1.7 老是full gc 直接死掉，现在版本为:
greys 1.7.66  jdk: 1.8.0_172-b11   问题直接解决，再没出现过问题。

此外，跪谢作者，求把trace得追踪多trace几个层级，现在只能追踪一级，求作者加个参数可以多追踪几层，比如  “trace XXClass  XXMethod  -l(level的意思

[2018-05-10 10:09] zdylalala commented on #252
好吧，我找到原因了。 JDK版本的问题 。之前是1.7 老是full gc 直接死掉，现在版本为:
greys 1.7.66 jdk: 1.8.0_172-b11 问题直接解决，再没出现过问题。

此外，跪谢作者，求把trace得追踪多trace几个层级，现在只能追踪一级，求作者加个参数可以多追踪几层，比如 “trace XXClass XXMethod -l(level的意思) 6” 表示追踪到XXMethod得向后6层全部追踪出来

[2018-05-10 10:09] #252 closed

[2018-05-15 07:00] whitelilis commented on #249
没仔细看说明......

[2018-05-17 02:06] whitelilis commented on #237
跳票半年了.......

[2018-05-18 07:11] oldmanpushcart commented on #251
目前我没有这个诉求，如果你有，可以通过javascript插件自己写一个 💯

[2018-05-18 07:13] oldmanpushcart commented on #250
核对下你的应用主日志中出现了什么错误信息，里面有具体的原因。比如3658端口被占等～

[2018-05-18 07:14] oldmanpushcart commented on #249
@whitelilis 说的是正解

[2018-05-18 07:14] #249 closed

[2018-05-21 11:07] csgvsjay1000 opened #253 "远程到目的主机的jvm吗？我试了不行"
./greys.sh pid@remoteIp:port
可以远程到目的主机的jvm吗？我试了不行

[2018-05-22 03:14] oldmanpushcart commented on #253
目标主机必须先本地启动greys

[2018-05-22 03:14] #236 closed

[2018-05-25 02:31] csgvsjay1000 commented on #253
哦，原来如此

[2018-05-25 12:03] ougyou opened #254 "resultObj 这个怎么去看它里面指定的属性值呢"
RETURN-OBJ | org.springframework.jdbc.support.rowset.ResultSetWrappingSqlRowSet@5579f5bb

怎么查看watch返回的这种分装的对象的属性呢   对于自己的对象解析2层就够了  可是这种java分装的一堆恶心的东西解析10层也看不懂啥意思呢

[2018-05-25 18:11] #253 closed

[2018-05-28 02:37] garytao commented on #245
start greys failed, because : Unable to open socket file: target process not responding or HotSpot VM not loaded
attach to target jvm(8766) failed.

[2018-05-28 02:37] garytao commented on #245
出现同样的错误

[2018-05-28 02:39] garytao commented on #245
Server version: Apache Tomcat/7.0.57
Server built:   Nov 3 2014 08:39:16 UTC
Server number:  7.0.57.0
OS Name:        Linux
OS Version:     2.6.32-431.23.3.el6.x86_64
Architecture:   amd64
JVM Version:    1.6.0_45-b06
JVM Vendor:     Sun Microsystems Inc.

[2018-05-29 01:38] oldmanpushcart commented on #245
@garytao 看下应用的主日志里面有什么信息哦？

[2018-05-29 01:39] garytao commented on #245
"VM Thread" prio=10 tid=0x00007fbf3015f000 nid=0x224b runnable

"Gang worker#0 (Parallel GC Threads)" prio=10 tid=0x00007fbf30019000 nid=0x2240 runnable

"Gang worker#1 (Parallel GC Threads)" prio=10 tid=0x00007fbf3001a800 nid=0x2241 runnable

"Gang worker#2 (Parallel GC Threads)" prio=10 tid=0x00007fbf3001c800 nid=0x2242 runnable

"Gang worker#3 (Parallel GC Threads)" prio=10 tid=0x00007fbf3001e8

[2018-05-29 01:40] garytao commented on #245
@oldmanpushcart  一打点主日志 会有GC的 log，感觉是JVM 内存不够用

[2018-05-29 01:42] garytao commented on #245
top - 09:42:08 up 305 days, 8 min, 13 users,  load average: 0.09, 0.02, 0.01
Tasks: 213 total,   1 running, 212 sleeping,   0 stopped,   0 zombie
Cpu(s):  0.2%us,  0.4%sy,  0.0%ni, 99.3%id,  0.0%wa,  0.0%hi,  0.0%si,  0.0%st
Mem:  16333788k total, 16120140k used,   213648k free,   476292k buffers
Swap:        0k total,        0k used,        0k free,  6342996k cached

  PID USER      PR  NI  VIRT

[2018-05-29 01:43] garytao commented on #245
内存16G 都用光了

[2018-05-29 02:10] garytao commented on #245
找到原因了，Java Pid 用admin 用户启动的，打点用的root用户，越权了。谢谢杜琨

[2018-05-31 11:58] #245 closed

[2018-06-05 09:52] icc99 opened #255 "有没计划支持jdk10"
./greys java10进程id
连不上java10的进程

[2018-06-06 02:57] ougyou commented on #255
生产环境用10    呵呵呵   确定不是甲骨文自己人

[2018-06-07 02:56] gg159753 opened #256 "如何使用正则或者通配符列出所有类"
环境出现加载的类不断变多的情况
始终定位不到增加的类是什么
想用sc命令列出所有jvm中的类
但是试了一下 sc -E  [\s\S]  和sc *
都不行，请问有什么办法列出所有类吗

[2018-06-11 08:59] kennyworld opened #257 "start greys failed, because : Unable to open socket file: target process not responding or HotSpot VM not loaded"
安装后启动，报如题的错误。 在目标 java 进程的日志文件中打印出一堆 jvm 的信息。

[2018-06-14 11:39] qinzhengyan opened #258 "watch命令怎么支持同时打印param和returnObj，并且param和returnObj是复杂对象"
通常我们在定位问题的时候，肯定是希望一行里面同时打印入参和出参，
如果用param[0]+returnObj 就会是字符串拼接了，无法按照-x 参数对对象
进行展开，不能清楚看到对象中每个属性的值，麻烦指教。

[2018-06-14 11:44] qinzhengyan commented on #257
1、方便提交你的jdk的版本号么？
2、检查下默认端口号是不是被占用了？

[2018-06-14 11:55] qinzhengyan commented on #256
试试 sc **

[2018-06-14 11:57] qinzhengyan commented on #254
表达式支持OGNL，你可以试试returnObj[''][''][''] 这样导航到对应的属性

[2018-06-21 02:14] whitelilis commented on #258
这时我一般用  tt -t， 不用 watch

[2018-06-21 03:30] qinzhengyan commented on #258
@whitelilis 非常感谢，这个场景果然适合用tt来解决，谢谢

[2018-06-21 03:30] #258 closed

[2018-07-02 14:58] eeeewwwqq opened #259 "--path 参数报错"
![1](https://user-images.githubusercontent.com/9861275/42171237-5af20c8e-7e4b-11e8-9c83-7088ded16559.png)
![2](https://user-images.githubusercontent.com/9861275/42171238-5b2caa1a-7e4b-11e8-97b2-0954d69d55db.png)

[2018-07-11 05:29] ChinaXing opened #261 "没有网络环境的机器上怎么安装"

[2018-07-11 06:02] ChinaXing opened #262 "怎么启动服务端，客户端怎么去链接？"

[2018-07-17 02:17] elal opened #263 "有没有关于js的更多的例子"
有没有关于js的更多的例子？？

[2018-07-18 08:24] Echo-Hou opened #264 "启动时，报 connect timed out 的错误"
:~$ ./greys.sh 53990
Exception in thread "main" java.net.SocketTimeoutException: connect timed out
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:339)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:200)
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:

[2018-07-19 13:41] 287400117 opened #265 "查看 Tomcat，启动 greys 时报错"
报错如下：

[code]

经过各种测试，最后发现是权限问题。运行 greys 的用户必须要跟 运行 Tomcat是同一个用户。

mark.. 记录一下，也能让碰到同样问题小伙伴少走弯路。

[2018-07-19 13:45] 287400117 commented on #245
经过各种测试，最后发现是权限问题。运行 greys 的用户必须要跟 运行 Tomcat是同一个用户。

mark.. 记录一下，也能让碰到同样问题小伙伴少走弯路。

[2018-08-01 13:02] EdwardLee03 commented on #100
@AlexKingSWU 支持Scala，我们在本地玩过

[2018-08-06 03:15] whitelilis commented on #237
又一个季度过去了。。。

[2018-08-08 14:57] zhaiyuyong opened #266 "monitor耗时希望加上PT值，比如PT85 PT90 PT99"

[2018-08-15 08:33] soleverlee opened #267 "start greys failed in debian"
Hello~ I faild to start greys in a debian container,
[code]
and I tried to set JAVA_HOME, and confirmd the user, but still not able to make it work, do you hava any ideas?

Here is some information

[code]

[2018-08-20 02:33] woshiyinweijian opened #268 "有没有top命令？参数多少？"
如题，有没有更简单查看CPU高过的方法？

[2018-08-20 13:17] zonghaishang opened #269 "GPLv3 请问如果借鉴greys思想，重新开发系统是否违反规定或者侵权？"
GPLv3 请问如果借鉴greys思想，重新开发系统是否违反规定或者侵权？

[2018-08-21 01:59] woshiyinweijian commented on #268
通过help看到了，有的，结束问题

[2018-08-21 01:59] #268 closed

[2018-08-22 13:35] #269 closed

[2018-08-31 06:57] csgvsjay1000 opened #270 "quit命令是怎么退出的"
你好，我最近在学习这个源码，有个问题没搞明白，greys console客户端是怎么退出的，发出quit命令？但是我看源码还是没看出来怎么退出的。可以指导一下吗？

[2018-08-31 07:09] csgvsjay1000 commented on #270
找到了

[2018-08-31 07:09] #270 closed

[2018-09-04 02:28] csgvsjay1000 opened #271 "shutdown后core的类会卸载吗"
我目前测试的结果是没有卸载，而且两个守护线程也没有关掉

[2018-09-06 00:22] hhxx1994 opened #272 "tt -i 命令的入参和返回值支持OGNL吗"

[2018-09-06 00:25] #272 closed

[2018-09-06 03:06] hhxx1994 opened #273 "tt -t -n 1 -w com.youzan.retail.trademanager.biz.assembler.order.PromotionInfoAssembler assemble params[0].orderNo=="E20180905154525097200004" 条件表达式不生效"

[2018-09-06 03:07] hhxx1994 commented on #273
params[0].orderNo=="E20180905154525097200004" 这样写法有问题吗

[2018-09-08 06:14] #273 closed

[2018-09-08 06:34] hhxx1994 opened #274 "文档是不是写错了"
![image](https://user-images.githubusercontent.com/26454067/45251168-31ed1780-b374-11e8-814f-6ed8fd4bc99e.png)

[2018-09-19 11:05] q3356564 opened #275 "docker镜像只有jre环境无法运行greys需要自己制作jdk镜像，请问如何设置能支持镜像市场下载的jdk镜像"

[2018-10-18 06:08] somnus-lin opened #276 "mac系统下，brew安装的jdk无法识别？"
mac系统下，brew安装的jdk无法识别？
➜  greys java -version
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

➜  greys ./greys.sh 4719
illegal ENV, please set $JAVA_HOME to JDK6+

[2018-10-19 02:10] whitelilis opened #277 "jvm-sandbox 出了 1.0.16，是不是 greys 2.0 就不远了？"

[2018-10-24 07:36] wangjia2016 commented on #257
我也是这个问题，pid是java程序的，并不像FAQ里面写的那样

[2018-10-24 07:40] wangjia2016 opened #278 "[root@VM_98_142_centos home]# ./greys.sh 22651 start greys failed, because : Unable to open socket file: target process not responding or HotSpot VM not loaded attach to target jvm(22651) failed."
![image](https://user-images.githubusercontent.com/16084076/47414177-eb783e80-d7a2-11e8-8575-9b6184a174d2.png)
看过FAQ
确认是Java进程

[root@VM_98_142_centos home]# ./greys.sh 22651
start greys failed, because : Unable to open socket file: target process not responding or HotSpot VM not loaded

系统：CentOS release 6.8 (Final)
JDK:    javac 1.8.0_121

[2018-10-25 07:45] ccc520 commented on #253
目标主机开了也不行，是我用的不对吗...
1).目标主机  ./greys.sh 111926
2).目标主机 开放3658端口
3.)远程主机 ./greys.sh 111926@10.1.5.137:3658

start greys failed, because : No such process
attach to target jvm(111926) failed.

telnet是能通的

jdk版本:1.8.0.172
greys版本:1.7.6.6

[2018-10-25 16:15] sustbeckham commented on #278
你现在root登录, 切换到www用户试试看?

[2018-10-26 00:51] oldmanpushcart commented on #253
@ccc520 可以通过加[:端口]解决

ga.sh完成attach的，gs.sh shutdown就好了

[2018-11-01 13:10] muyuqiu001 commented on #276
@somnus-lin 你设置下JAVA_HOME环境变量呢

[2018-11-01 13:12] muyuqiu001 commented on #261
下载，然后本地编译，修改下启动脚本就OK了啊

[2018-11-06 08:38] daberber opened #279 "GaExecuteException"
用着一会，tomcat就挂掉了，报错如下

2018-11-06 16:26:44 [ga-command-execute-daemon] WARN  greys-anatomy - command execute failed.
com.github.ompc.greys.core.exception.GaExecuteException: execute failed. sessionId=8
        at com.github.ompc.greys.core.server.DefaultCommandHandler.execute(DefaultCommandHandler.java:264) ~[greys-core.jar:na]
        at com.github.ompc.greys.core.server.DefaultCommandHandler.exec

[2018-11-07 13:02] shenge08 opened #280 "访问远程的jvm，远程也开了，telnet能连但时 ./grey pid@ip:port报错"
[root@localhost greys]# telnet 132.232.104.19 3658
Trying 132.232.104.19...
Connected to 132.232.104.19.
Escape character is '^]'.
^]
telnet> quit
Connection closed.
[root@localhost greys]# ./greys.sh  2952@132.232.104.19:3658
start greys failed, because : No such process
attach to target jvm(2952) failed.

[2018-11-13 03:11] grindwheel opened #281 "arthas 是不是基于这上面开源的？"
arthas 是不是基于这上面开源的？

[2018-11-20 11:15] andChow opened #282 "运行greys-trace一小段时间后，java进程没有响应"
# 1.运行命令及结果
[code]

# 2. java进程没有响应&线程dump内容
[code]

[2018-12-01 09:54] askluolei commented on #267
tools.jar 没加载到，$JAVA_HOME/lib/tools.jar 复制到 $JAVA_HOME/jre/lib/ext 目录下，或者放到 jvm 能够加载到的地方应该就可以了

[2018-12-12 02:57] ch710798472 commented on #281
是的

[2018-12-12 02:57] ch710798472 commented on #281
是的

[2018-12-13 10:13] jiangguilong2000 opened #283 "一台机器trace ,watch等指令输入后都没法打印出来，其他的机器上执行都正常"
一台机器trace ,watch等指令输入后都没法打印出来，其他的机器上执行都正常

[2019-01-07 10:58] FDU-SE-LAB opened #284 "Your project oldmanpushcart/greys-anatomy is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-03-07 03:12] AJ-Liang opened #285 "greys 刚进入方法打印 stack"
greys 可以像 btrace 一样，加条件，在刚进入方法就打印 stack 吗？

[2019-03-12 12:25] rewlad opened #286 "install-local.sh"
did You mean in the manual?:
bash ./install-local.sh
sometimes "sh" and "bash" are not the same

[2019-03-17 07:41] benyVip opened #287 "watch 接口不支持"
监控了mybateis的dao层的接口，无反应，请问是不是不支持接口？

[2019-03-22 13:37] gustavosizilio opened #288 "[QUESTION] Where I can find the CI service?"
Is this project using continuous integration services (e.g., Travis-CI or Jenkings)? Or has it used at any point of its lifetime?

[2019-03-28 03:02] careyyu opened #289 "无法拦截到类及方法"
使用trace *** **** 命令在某一台服务器上无法拦截到
现象：
Affect(class-cnt:0 , method-cnt:0) cost in 325 ms.

greys的安装用户是root。
应用的启动用户是admin，
执行greys的用户也是admin，请问是账号的问题吗？

[2019-08-20 09:45] happyboyzwf opened #290 "【建议】trace命令能增加跟踪N级方法的调用链路吗？"
求大神翻牌子~

[2019-11-19 06:21] MrSummer33 opened #291 "连接远程报Operation not permitted,怎么处理？"

[2019-12-03 15:30] shidongwa opened #292 "Spy class是如何在各个业务classloader 中加载的？"
请教各位大神：

看greys-anatomy/core/src/main/java/com/github/ompc/greys/core/advisor/Enhancer.java 中的代码，是把spyClassFromGreysClassLoader中的Spy.class 拷一份到 spyClassFromTargetClassLoader中去加载，前提是spyClassFromTargetClassLoader中找不到Spy.class的话。问题是Spy.class是打包在greys-agent.jar 而不是 grey-core.jar 中。spyClassFromGreysClassLoader实际从grey-core.jar是找不到这个Spy.class的，最终还是通过父classloader加载。这里是bootstrap classloader。既然Spy.class 是通过

[2019-12-04 03:42] p1v07 opened #293 "如何在JS中获取实例变量"
我想要获取  `org.apache.catalina.mapper.Mapper` 中的hosts变量，使用如下js：

[code]

运行结果：

[code]

但是我使用ognl方式可以：

[code]

看文档都是advice对象的，但是为啥有这个区别？JS中又需要怎么获取这个变量呢？

[2019-12-05 07:15] p1v07 commented on #293
update:
使用反射的方式可以实现

[2019-12-05 07:15] #293 closed, assigned to nobody

[2020-04-06 03:35] shijiankai opened #294 "openjdk 9最新版本无法启动"
./greys.sh 3566
start greys failed, because : 0
attach to target jvm(3566) failed.

[2020-04-06 03:41] shijiankai commented on #294
安装的是  http://jdk.java.net/java-se-ri/9  不知道会不会对引用有所影响

[2020-04-06 04:50] shijiankai commented on #294
切换成jdk8 ok了

[2020-04-06 04:50] #294 closed, assigned to nobody

[2020-10-31 20:32] jianwu opened #296 "Javascript 无法引用非java core class"
非常喜欢js的功能。不过有一个问题，就是在javascript里，只能访问core javaclass，比如：
`var pi =  Packages.java.lang.Math.PI`

不过非java core class就访问不到了，
比如：
`var pi =  Packages.org.apache.commons.lang3.math. NumberUtils .BYTE_MINUS_ONE`

我已经确认classload可以load这个class。从源码里，看不到block这些class，不知是什么原因？

不知是不是我的server的secruity manager的问题？

[2020-11-01 09:12] jianwu commented on #296
做了一些研究，发现是classloader的问题，javascript engine 缺省使用：thread context classloader。不可以访问applicaton class loader。参考：https://stackoverflow.com/questions/30225398/java-8-scriptengine-across-classloaders/30251930#30251930

我在我本地fix了这个问题，加一个class loader的选项。发一个PR

[2020-11-29 11:42] wupflove commented on #289
sc 命令看看类是否存在啊